<div class="container-fluid">
    <!--  <app-page-title title="Basic Tables" [breadcrumbItems]="breadCrumbItems"></app-page-title>--> 
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h1 class="card-title">Acerca de UES</h1>
              <p class="card-title-desc">
               Universidad de El Salvador
              </p> 
                <!--<h2>Tabla Avanzada con Búsqueda y Paginación</h2>-->
                
                <div class="row mt-2">
                  <div class="col-lg-6">
                          <div class="row mb-4">
                            <label  style="text-align: center;font-weight: bold; 
                            font-size: 16px;">Misión<span class="text-danger"></span></label>
                              <div class="col-sm-12">
                                  <p style="text-align: justify; font-size: 14px;">Ser líder en el campo de la educación superior universitaria; 
                                    reconocida por la calidad humana, científica y técnica; 
                                    promotora de valores éticos; con infraestructura y equipo adecuado; 
                                    un presupuesto que garantice el funcionamiento eficiente y una oferta 
                                    académica pertinente para el desarrollo humano integral de la Región Paracentral y de la nación.</p>
                              </div>
                          </div>       
                  </div>
                  <div class="col-lg-6">
                      <div class="row mb-4">
                        <label style="text-align: center; font-weight: bold; 
                        font-size: 16px;">Visión<span class="text-danger"></span></label>
                              <div class="col-sm-12">
                                <p style="text-align: justify; font-size: 14px;">Somos una institución de educación superior de carácter público; 
                                    formadora de profesionales de grado y postgrado en diferentes áreas del saber; 
                                    generadora de conocimientos científicos, tecnológicos y humanistas; 
                                    comprometida con el desarrollo humano sostenible en la Región Paracentral de El Salvador.</p>
                              </div>
                      </div>               
                  </div>
                <br>
                <br>
                <div class="col-lg-12">
                    <div class="row mb-4">
                        <div class="col-sm-12">
                            <label style="text-align: left; font-weight: bold; 
                        font-size: 16px;">Resumen:<span class="text-danger"></span></label>
                         <p style="text-align: justify; font-size: 14px;">
                            El Sistema de Gestión de Solicitudes de Vehículos 
                            y Vales de combustible para la Universidad de El
                             Salvador es una plataforma informática diseñada
                              para administrar eficientemente las solicitudes 
                              de vehículos y vales de combustible utilizando distintos
                               niveles de usuarios para ir gestionando el estado en los
                                niveles de usuarios, dentro de la institución. El sistema 
                                permite a los usuarios registrarse, solicitar vehículos y 
                                vales, gestionar compras de vales, asignar proveedores, y
                                 generar informes en formato Excel para la Universidad de El Salvador.</p>
                                 <br>
                                 <br>
                             
                        </div>
                        <div class="col-sm-12">
                            <h1 style="text-align: center; font-weight: bold; 
                                 font-size: 16px;">Características Clave:<span class="text-danger"></span></h1>
                                  <br>
                                  <label style="text-align: left; font-weight: bold; 
                                  font-size: 16px;">Registro de Vehículos:<span class="text-danger"></span></label>
                                  <br>  
                                  <p style="text-align: justify; font-size: 14px;">
                                    Los administradores del sistema pueden registrar los vehículos disponibles para su asignación.
                                    Se recopilan datos importantes, como la marca, modelo, placa, capacidad, y estado de mantenimiento de cada vehículo.                                    
                                </p>
                        </div>
                    </div>
                </div>
               </div>
              </div>
            </div>
          </div>
        </div>
      
      <!-- end row -->
    </div>