<div class="container-fluid">
    <!--  <app-page-title title="Basic Tables" [breadcrumbItems]="breadCrumbItems"></app-page-title>--> 
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h1 class="card-title">Acerca de UES FMP</h1>
              <p class="card-title-desc">
               Universidad de El Salvador Facultad Multidisciplinaria Paracentral
              </p> 
                <!--<h2>Tabla Avanzada con Búsqueda y Paginación</h2>-->
                
                <div class="row mt-2">
                  <div class="col-lg-6">
                    <div style="height: 200px;" class="card mb-4 shadow-lg">
                      <div class="card-body">
                        <h5 style="text-align: center; font-weight: bold; 
                        font-size: 16px;" >Misión</h5>
                        <p style="text-align: justify; font-size: 14px;" class="card-text">Ser líder en el campo de la educación superior universitaria; 
                          reconocida por la calidad humana, científica y técnica; 
                          promotora de valores éticos; con infraestructura y equipo adecuado; 
                          un presupuesto que garantice el funcionamiento eficiente y una oferta 
                          académica pertinente para el desarrollo humano integral de la Región Paracentral y de la nación.</p>
                      </div>
                    </div>
                               
                  </div>
                  <div class="col-lg-6">
                    <div style="height: 200px;" class="card mb-4 shadow-lg">
                      <div class="card-body">
                        <h5 style="text-align: center; font-weight: bold; 
                        font-size: 16px;" >Visión</h5>
                        <p style="text-align: justify; font-size: 14px;" class="card-text">Somos una institución de educación superior de carácter público; 
                          formadora de profesionales de grado y postgrado en diferentes áreas del saber; 
                          generadora de conocimientos científicos, tecnológicos y humanistas; 
                          comprometida con el desarrollo humano sostenible en la Región Paracentral de El Salvador.</p>
                      </div>
                    </div>

                                  
                  </div>
                <br>
                <br>
                <div class="col-lg-12">
                  <div class="card mb-4 shadow-lg">
                    <div class="card-body">
                      <h5 style="text-align: center; font-weight: bold; 
                      font-size: 16px;">Resumen:</h5>
                      <p style="text-align: justify; font-size: 14px;" class="card-text">El sistema informático diseñado para la gestión de vales de combustible es una plataforma multifuncional
                         que ofrece un conjunto de herramientas y funcionalidades para facilitar el proceso de 
                         administración de vales de combustible en para UES FMP. A continuación, se presenta un resumen de las características y funcionalidades clave de este sistema:</p>
                    </div>
                  </div>
                  <div style="height: 100px;" class="card mb-4 shadow-lg">
                    <div class="card-body">
                      <h5 style="text-align: center; font-weight: bold; 
                      font-size: 16px;">Características Clave:</h5>
                      <p style="text-align: center; font-size: 14px;" class="card-text"> A continuación, se presenta un resumen de las características y funcionalidades clave de este sistema:</p>
                      <br>
                      <br>
                     
                    </div>
                  </div>
                </div>

                  <div class="col-lg-6">
                    <div style="height: 150px;" class="card mb-4 shadow-lg">
                      <div class="card-body">
                       <h5 style="text-align: left; font-weight: bold; 
                        font-size: 16px;">Gestión de Usuarios:</h5>
                         <p style="text-align: justify; font-size: 14px;" class="card-text"> 
                          El sistema cuenta con diferentes niveles de usuario, incluyendo Usuario Común, Jefe de Departamento, Secretario Decanato, Decano, Asistente Financiera, Jefe Financiero, Vigilante, Administrador y Motorista. Cada nivel de usuario tiene acceso a funciones específicas y privilegios de acuerdo con su rol en el proceso.
                        </p>
                        </div>
                      </div>
                  </div>
                  <div class="col-lg-6">
                    <div style="height: 150px;" class="card mb-4 shadow-lg">
                      <div class="card-body">
                    <h5 style="text-align: left; font-weight: bold; 
                     font-size: 16px;">Compra de Vales: </h5>
                      <p style="text-align: justify; font-size: 14px;" class="card-text"> 
                        Los usuarios autorizados pueden registrar la compra de vales de combustible, especificando el proveedor asociado a la transacción. Esta información se almacena para fines de seguimiento y contabilidad.
                     </p>
                    </div>
                  </div>
                 </div>

                 <div class="col-lg-6">
                  <div style="height: 150px;" class="card mb-4 shadow-lg">
                    <div class="card-body">
                     <h5 style="text-align: left; font-weight: bold; 
                      font-size: 16px;">Registro de Vehículos: </h5>
                       <p style="text-align: justify; font-size: 14px;" class="card-text"> 
                        Se permite la gestión de vehículos pertenecientes a la organización. Los detalles de los vehículos, como número de placa, modelo y capacidad de combustible, se almacenan en el sistema para su posterior uso en las solicitudes de vales.
                      </p>
                      </div>
                    </div>
                </div>
                <div class="col-lg-6">
                  <div style="height: 150px;" class="card mb-4 shadow-lg">
                    <div class="card-body">
                  <h5 style="text-align: left; font-weight: bold; 
                   font-size: 16px;">Solicitud de Vehículos: </h5>
                    <p style="text-align: justify; font-size: 14px;" class="card-text"> 
                      Los usuarios pueden solicitar vehículos para sus actividades. Estas solicitudes pasan por múltiples niveles de aprobación, incluyendo Jefes de Departamento y otros responsables, antes de que puedan ser atendidas.
                   </p>
                  </div>
                </div>
               </div>
                 
               <div class="col-lg-6">
                <div style="height: 150px;" class="card mb-4 shadow-lg">
                  <div class="card-body">
                   <h5 style="text-align: left; font-weight: bold; 
                    font-size: 16px;">Registro de Vehículos: </h5>
                     <p style="text-align: justify; font-size: 14px;" class="card-text"> 
                      Se permite la gestión de vehículos pertenecientes a la organización. Los detalles de los vehículos, como número de placa, modelo y capacidad de combustible, se almacenan en el sistema para su posterior uso en las solicitudes de vales.
                    </p>
                    </div>
                  </div>
              </div>
              <div class="col-lg-6">
                <div style="height: 150px;" class="card mb-4 shadow-lg">
                  <div class="card-body">
                <h5 style="text-align: left; font-weight: bold; 
                 font-size: 16px;">Solicitud de Vehículos: </h5>
                  <p style="text-align: justify; font-size: 14px;" class="card-text"> 
                    Los usuarios pueden solicitar vehículos para sus actividades. Estas solicitudes pasan por múltiples niveles de aprobación, incluyendo Jefes de Departamento y otros responsables, antes de que puedan ser atendidas.
                 </p>
                </div>
              </div>
             </div>

             <div class="col-lg-6">
              <div style="height: 150px;" class="card mb-4 shadow-lg">
                <div class="card-body">
                 <h5 style="text-align: left; font-weight: bold; 
                  font-size: 16px;">Solicitud de Vales de Combustible:  </h5>
                   <p style="text-align: justify; font-size: 14px;" class="card-text"> 
                    Una vez aprobada la solicitud de vehículos, se genera una solicitud de vales de combustible. Esta solicitud también requiere la aprobación de diferentes usuarios antes de que se puedan asignar los vales.
                  </p>
                  </div>
                </div>
            </div>
            <div class="col-lg-6">
              <div style="height: 150px;" class="card mb-4 shadow-lg">
                <div class="card-body">
              <h5 style="text-align: left; font-weight: bold; 
               font-size: 16px;">Registro de Salidas y Entradas de Vehículos: </h5>
                <p style="text-align: justify; font-size: 14px;" class="card-text"> 
                  Los vigilantes registran la salida y entrada de los vehículos, lo que permite un seguimiento en tiempo real de su uso y consumo de combustible.
               </p>
              </div>
            </div>
           </div>

           <div class="col-lg-6">
            <div style="height: 150px;" class="card mb-4 shadow-lg">
              <div class="card-body">
               <h5 style="text-align: left; font-weight: bold; 
                font-size: 16px;">Documentación de Vales y Liquidación:  </h5>
                 <p style="text-align: justify; font-size: 14px;" class="card-text"> 
                   El sistema almacena toda la documentación relacionada con los vales de combustible y facilita la liquidación de los mismos, garantizando una contabilidad precisa.
                </p>
                </div>
              </div>
          </div>
          <div class="col-lg-6">
            <div style="height: 150px;" class="card mb-4 shadow-lg">
              <div class="card-body">
            <h5 style="text-align: left; font-weight: bold; 
             font-size: 16px;">Devoluciones de Vales no Utilizados: </h5>
              <p style="text-align: justify; font-size: 14px;" class="card-text"> 
                Si los vales no se consumen en su totalidad durante una salida, se puede realizar una devolución para su reutilización en futuras solicitudes.
             </p>
            </div>
          </div>
         </div>

         <div class="col-lg-6">
          <div style="height: 150px;" class="card mb-4 shadow-lg">
            <div class="card-body">
             <h5 style="text-align: left; font-weight: bold; 
              font-size: 16px;">Generación de Reportes:   </h5>
               <p style="text-align: justify; font-size: 14px;" class="card-text"> 
                El sistema ofrece la capacidad de generar informes y reportes diversos, incluyendo el consumo de vales por mes, registros de compras y la posibilidad de exportar estos datos a formatos Excel para un análisis detallado.
              </p>
              </div>
            </div>
        </div>
        <div class="col-lg-6">
          <div style="height: 150px;" class="card mb-4 shadow-lg">
            <div class="card-body">
          <h5 style="text-align: left; font-weight: bold; 
           font-size: 16px;">Generación de PDF y Descarga de Documentos: </h5>
            <p style="text-align: justify; font-size: 14px;" class="card-text"> 
              Los usuarios pueden generar documentos en formato PDF, incluyendo solicitudes y registros de vales, y descargar documentos anexados en el proceso.
           </p>
          </div>
        </div>
       </div>

       <div class="col-lg-12">
        <div style="height: 125px;" class="card mb-4 shadow-lg">
          <div class="card-body">
            <h5 style="text-align: center; font-weight: bold; 
            font-size: 16px;">En resumen:</h5>
            <p style="text-align: justify; font-size: 14px;" class="card-text">En resumen, este sistema de gestión de vales de combustible 
              optimiza y automatiza todo el proceso, desde la compra inicial de vales hasta la 
              liquidación y generación de informes, garantizando un seguimiento preciso y 
              eficiente de los recursos de combustible en la organización. Cada nivel de 
              usuario desempeña un papel específico en el flujo de trabajo, asegurando una
               gestión efectiva y transparente de los recursos.</p>
          </div>
        </div>
      </div>

               </div>
              </div>
            </div>
          </div>
        </div>
      
      <!-- end row -->
    </div>