<app-loader></app-loader>
<div class="container-fluid">
  <!-- start page title -->
  <div class="row">
    <div class="col-12">
      <div
        class="page-title-box d-flex align-items-center justify-content-between"
      >
        <h4 class="mb-0 font-size-18">Inicio</h4>
        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item active">Bienvenido al sistema</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <!-- end page title -->

  <div class="row">
    <div class="col-xl-4">
      <div class="card overflow-hidden">
          <div class="bg-primary bg-soft">
              <div class="row">
                  <div class="col-6">
                      <div class="text-primary p-2">
                          <h5 class="text-primary">Bienvenid@ de nuevo!</h5>
                          <p>SysDecanato</p>
                      </div>
                  </div>
                  <div class="col-5 align-self-end">
                      <img src="assets/images/profile-img.png" alt="" class="img-fluid">
                  </div>
              </div>
          </div>
          <div class="card-body pt-0">
              <div class="row">
                  <div class="col-sm-4">
                      <div class="image-container mb-4">
                          <img class="rounded-circle header-profile-user"
                          [src]="fotoempleado" alt="Header Avatar">
                      </div>
                      <h5 class="font-size-15 text-truncate">{{this.empleado.nombre}}</h5>
                      <p class="text-muted mb-0 text-truncate">{{this.empleado.apellido}}</p>
                  </div>


                  <div class="col-sm-8">
                      <div class="pt-4">

                          <div class="row">
                              <div class="col-6">
                                  <h5 class="font-size-15">{{this.empleado.cargo.nombreCargo}}</h5>
                                  <p class="text-muted mb-0">Cargo</p>
                              </div>
                              <div class="col-6">
                                  <h5 class="font-size-15">{{this.empleado.departamento.nombre}}</h5>
                                  <p class="text-muted mb-0">Departamento</p>
                              </div>
                          </div>
                          <div class="mt-4">
                            <app-modal [leyenda]="'Datos'" [home]="true"></app-modal>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

    </div>
  </div>
</div>
