<app-loader></app-loader>
<div class="container-fluid">
  <!-- start page title -->
  <div class="row">
    <div class="col-12">
      <div
        class="page-title-box d-flex align-items-center justify-content-between"
      >
        <h4 class="mb-0 font-size-18">Inicio</h4>
        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item active">Bienvenido al sistema</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <!-- end page title -->

  <div class="row">
    <div class="col-xl-4">
      <div class="card overflow-hidden">
        <div class="bg-primary bg-soft">
          <div class="row">
            <div class="col-6">
              <div class="text-primary p-2">
                <h5 class="text-primary">Bienvenid@ de nuevo!</h5>
                <p>SysDecanato</p>
              </div>
            </div>
            <div class="col-5 align-self-end">
              <img
                src="assets/images/profile-img.png"
                alt=""
                class="img-fluid"
              />
            </div>
          </div>
        </div>
        <div class="card-body pt-0">
          <div class="row">
            <div class="col-sm-4">
              <div class="image-container mb-4">
                <img
                  class="rounded-circle header-profile-user"
                  [src]="fotoempleado"
                  alt="Header Avatar"
                />
              </div>
              <h5 class="font-size-15 text-truncate">
                {{ this.empleado.nombre }}
              </h5>
              <p class="text-muted mb-0 text-truncate">
                {{ this.empleado.apellido }}
              </p>
            </div>

            <div class="col-sm-8">
              <div class="pt-4">
                <div class="row">
                  <div class="col-6">
                    <h5 class="font-size-15">
                      {{ this.empleado.cargo.nombreCargo }}
                    </h5>
                    <p class="text-muted mb-0">Cargo</p>
                  </div>
                  <div class="col-6">
                    <h5 class="font-size-15">
                      {{ this.empleado.departamento.nombre }}
                    </h5>
                    <p class="text-muted mb-0">Departamento</p>
                  </div>
                </div>
                <div class="mt-4">
                  <app-modal [leyenda]="'Datos'" [home]="true"></app-modal>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4">Compras</h4>
          <div class="row">
            <div class="col-sm-7">
              <p class="text-muted">{{ texto }}</p>
              <h3>
                {{ montoGenerado | currency : "USD" : "symbol" : "1.2-2" }}
              </h3>
              <p class="text-muted">
                <span class="text-success mr-2">
                  {{ cantidaGenerada }} <i class="mdi mdi-arrow-up"></i>
                </span>
                {{ cantidaGenerada == 1 ? "Compra" : "Compras" }}
              </p>
              <div class="mt-4">
                <div
                  class="btn-group btn-group-sm"
                  role="group"
                  aria-label="Basic mixed styles example"
                >
                  <input
                    type="radio"
                    class="btn-check"
                    name="tipo"
                    id="tipo1"
                    autocomplete="off"
                    checked
                    [value]="1"
                    (click)="mostrarEsteMes()"
                  />
                  <label class="btn btn-outline-dark" for="tipo1"
                    >Este Mes</label
                  >
                  <input
                    type="radio"
                    class="btn-check"
                    name="tipo"
                    id="tipo2"
                    autocomplete="off"
                    [value]="0"
                    (click)="mostrarIntervaloFechas()"
                  />
                  <label class="btn btn-outline-primary" for="tipo2"
                    >Intervalo</label
                  >
                </div>
              </div>
              <div class="mt-4">
                <app-modal-compra
                  [compras]="listCompra"
                  [texto]="texto"
                ></app-modal-compra>
              </div>
            </div>
            <div class="col-sm-5">
              <img
                src="assets/images/financiero/Money income-pana.png"
                alt=""
                class="img-fluid"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-8">
      <!-- end row -->
      <div class="card">
        <div class="card-body">
          <div class="d-sm-flex flex-wrap">
            <h4 class="card-title mb-4">Total de Compras en {{texto}}</h4>
          </div>
          <app-grafica-compra [chartData]="chartData"></app-grafica-compra>
        </div>
      </div>
    </div>
  </div>
</div>
