<div class="container-fluid">
  <app-page-title title="Solicitudes de Vehículos" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row mb-2">
            <div class="col-sm-4">
              <div class="search-box me-2 mb-2 d-inline-block">
                <div class="position-relative">
                  <input type="text" class="form-control" placeholder="Buscar" [(ngModel)]="term">
                  <i class="bx bx-search-alt search-icon"></i>
                </div>
              </div>
            </div>

            <div class="col-sm-3">

              <div class="ng-select-wrapper mb-3">
                <div class="d-flex align-items-center">
                  <label class="me-2">Filtro por estado</label>
                  <select class="control-form custom-select" (change)="onEstadoSeleccionado($event)">
                    <option *ngFor="let estado of estadosSoliVe" [value]="estado.codigoEstado">{{estado.nombreEstado}}</option>
                  </select>
                </div>
              </div>

            </div>

            <div class="col-sm-5">
              <div class="text-sm-end">
<!--                <app-modal [leyenda]="'Nueva'" [titulo]="'Agregar'"-->
<!--                ></app-modal>-->
                <button type="button" class="btn btn-primary btn-rounded" (click)="abrirModal('Nueva')">Agregar
                  </button>
              </div>
            </div>
            <!-- end col-->
          </div>

          <!-- Table data -->
            <app-tabla [solicitudesVehiculo]="listSoliVeData" [term]="term"></app-tabla>
          <!-- end table -->
        </div>
      </div>
    </div>
  </div>
</div>

