<div class="container-fluid">
  <app-page-title title="Solicitudes de Vehículos" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row mb-2">
            <div class="col-sm-4">
              <div class="search-box me-2 mb-2 d-inline-block">
                <div class="position-relative">
                  <input type="text" class="form-control" placeholder="Buscar" [(ngModel)]="term">
                  <i class="bx bx-search-alt search-icon"></i>
                </div>
              </div>
            </div>

            <div class="col-sm-3">

              <div class="ng-select-wrapper mb-3">
                <div class="d-flex align-items-center">
                  <label class="me-2">Filtro por estado</label>
                  <select class="control-form custom-select" (change)="onEstadoSeleccionado($event)">
                    <option *ngFor="let estado of estadosSoliVe" [value]="estado.codigoEstado">{{estado.nombreEstado}}</option>
                  </select>
                </div>
              </div>

            </div>

            <div class="col-sm-5">
              <div class="text-sm-end">
                <app-modal [leyenda]="'Nueva'" [titulo]="'Nueva Solicitud'"></app-modal>
              </div>
            </div>
            <!-- end col-->
          </div>

          <!-- Table data -->
          <div class="table-responsive mb-0">
            <table class="table table-centered table-nowrap">
              <thead class="table-light">
              <tr>
                <th class="align-middle">No.</th>
                <th class="align-middle">Departamento</th>
                <th class="align-middle">Lugar</th>
                <th class="align-middle">Fecha uso</th>
                <th class="align-middle" style="text-align: center">Personas</th>
                <th class="align-middle" style="text-align: center">Estado</th>
                <th class="align-middle"
                    style="text-align: center;">
                  Acciones
                </th>
              </tr>
              </thead>
              <tbody>
              <ng-container *ngIf="solicitudesVehiculo.length > 0; else noDataTemplate">
                <!-- *ngFor="let data of cards | filter:queryString | paginate: { itemsPerPage: 10, currentPage: p }" -->
                <tr *ngFor="let data of solicitudesVehiculo | filter:term | paginate: { itemsPerPage: 10, currentPage: p };
                            let i = index">
                  <td>{{calcularNumeroCorrelativo(i)}}</td>
                  <td>{{data.solicitante.empleado.departamento.nombre}}</td>
                  <td>{{data.lugarMision}}</td>
                  <td>{{data.fechaSalida}}</td>
                  <td style="text-align: center">{{data.cantidadPersonas}}</td>
                  <td style="text-align: center">{{data.estado}}</td>

                </tr>
              </ng-container>
              <ng-template #noDataTemplate>
                <tr>
                  <td colspan="6" style="text-align: center;">
                    No hay datos disponibles.
                  </td>
                </tr>
              </ng-template>
              </tbody>
            </table>

            <div class="pagination pagination-rounded justify-content-end mb-2">
              <pagination-controls
                previousLabel="Anterior"
                nextLabel="Siguiente"
                firstLabel="Primera"
                lastLabel="Última"
                itemsPerPageLabel="por página"
                (pageChange)="p = $event"></pagination-controls>
            </div>

          </div>
          <!-- end table -->
        </div>
      </div>
    </div>
  </div>
</div>

