.bg-purple {
  background-color: #B79CED;
  color: white;
}

.bg-revision {
  background-color: #A6ACAF;
  color: white;
}

.bg-prima {
  background-color: blue;
  color: white;
}

.bg-esdec {
  background-color: #873600;
  color: white;
}

.bg-asignado {
  background-color: #48C9B0;
  color: white;
}
