<div class="table-responsive mb-0">
  <table class="table table-centered table-nowrap">
    <thead class="table-light">
    <tr>
      <th class="align-middle">No.</th>
      <th class="align-middle">Departamento</th>
      <th class="align-middle">Lugar</th>
      <th class="align-middle">Fecha uso</th>
      <th class="align-middle" style="text-align: center">Personas</th>
      <th class="align-middle" style="text-align: center">Estado</th>
      <th class="align-middle"
          style="text-align: center;">
        Acciones
      </th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngIf="solicitudesVehiculo.length > 0; else noDataTemplate">
      <!-- *ngFor="let data of cards | filter:queryString | paginate: { itemsPerPage: 10, currentPage: p }" -->
      <tr *ngFor="let data of solicitudesVehiculo | filter:term | paginate: { itemsPerPage: 10, currentPage: p };
                            let i = index">
        <td>{{calcularNumeroCorrelativo(i)}}</td>
        <td>{{data.solicitante.empleado.departamento.nombre}}</td>
        <td>{{data.lugarMision}}</td>
        <td>{{data.fechaSalida | date : "dd/MM/yyyy"}}</td>
        <td style="text-align: center">{{data.cantidadPersonas}}</td>
        <td style="text-align: center">
          <h5><span class="{{data.estado === 1 ? 'badge rounded-pill bg-warning'
          : data.estado === 2 ? 'badge rounded-pill bg-info'
          : data.estado === 3 ? 'badge rounded-pill bg-esdec'
          : data.estado === 4 ? 'badge rounded-pill bg-success'
          : data.estado === 5 ? 'badge rounded-pill bg-purple'
          : data.estado === 6 ? 'badge rounded-pill bg-revision'
          : data.estado === 7 ? 'badge rounded-pill bg-prima'
          : data.estado === 15 ? 'badge rounded-pill bg-danger': ''}}">
            {{data.estadoString}}
          </span></h5>
        </td>
        <td style="text-align: center">
          <button type="button" class="btn btn-primary btn-sm btn-rounded boton-cuadrado mx-1"
                  (click)="abrirModal('Detalle', data)"
                  ngbTooltip="Más información">
            <i class="mdi mdi-18px mdi-eye-outline"></i></button>

            <button type="button"
                    *ngIf="(userAcivo.role == 'DECANO' && solicitudesVehiculo.length > 0 && solicitudesVehiculo[0].estado  == 3 ||
                    userAcivo.role == 'DECANO' && solicitudesVehiculo.length > 0 && solicitudesVehiculo[0].estado  == 1 ||
                    userAcivo.role == 'JEFE_FINANACIERO' && solicitudesVehiculo.length > 0 && solicitudesVehiculo[0].estado  == 1 ||
                    userAcivo.role == 'JEFE_DEPTO' && solicitudesVehiculo.length>0 && solicitudesVehiculo[0].estado == 1)"
                    class="btn btn-success btn-sm btn-rounded boton-cuadrado mx-1"
                  (click)="aprobarSolicitud(data)"
                  ngbTooltip="Aprobar">
            <i class="mdi mdi-18px mdi-check-outline"></i></button>

          <button type="button"
                  *ngIf="userAcivo.role == 'DECANO' && solicitudesVehiculo.length > 0 && solicitudesVehiculo[0].estado  == 3"
                  class="btn btn-info btn-sm btn-rounded boton-cuadrado mx-1"
                  (click)="revisionSolicitud(data)"
                  ngbTooltip="Enviar a revisión">
            <i class="mdi mdi-18px mdi-help-circle-outline"></i></button>

          <button type="button"
                  *ngIf="userAcivo.role == 'DECANO' && solicitudesVehiculo.length > 0 && solicitudesVehiculo[0].estado  == 3"
                  class="btn btn-warning btn-sm btn-rounded boton-cuadrado mx-1"
                  (click)="anularSolicitud(data)"
                  ngbTooltip="Anular">
            <i class="mdi mdi-18px mdi-alpha-x-circle-outline"></i></button>

            <button type="button"
                    *ngIf="userAcivo.role == 'SECR_DECANATO' && solicitudesVehiculo.length>0 && solicitudesVehiculo[0].estado == 2"
                    class="btn btn-info btn-sm btn-rounded boton-cuadrado mx-1"
                  (click)="abrirModalSecre('Edicion', data)"
                  ngbTooltip="Asignar">
              <i class="mdi mdi-18px mdi-book-edit-outline"></i></button>
        </td>

      </tr>
    </ng-container>
    <ng-template #noDataTemplate>
      <tr>
        <td colspan="6" style="text-align: center;">
          No hay datos disponibles.
        </td>
      </tr>
    </ng-template>
    </tbody>
  </table>

  <div class="pagination pagination-rounded justify-content-end mb-2">
  <pagination-controls (pageChange)="p = $event" [nextLabel]="''" [previousLabel]="''"></pagination-controls>
  </div>

</div>
