
  <button
    type="button"
    class="btn btn-primary btn-sm btn-rounded boton-cuadrado mx-1"
    (click)="valesAsignar(valesAsignarModal)"
    ngbTooltip="Ver Vales"
  >
    <i class="mdi mdi-18px mdi-eye-outline"></i>
  </button>
<ng-template #valesAsignarModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">Vales a Asignar</h5>
    <button
      type="button"
      class="btn-close"
      (click)="modal.dismiss('Cross click')"
      aria-hidden="true"
    ></button>
  </div>
  <div class="modal-body">
    <div class="table-responsive mb-0">
      <table class="table table-centered table-nowrap">
        <thead class="table-light">
          <tr>
            <th class="align-middle text-center">Codigo Vale</th>
            <th class="align-middle text-center">Valor $</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let vale of valesAsingar
                | filter : buscarVale
                | paginate : { itemsPerPage: 10, currentPage: pVales };
              let i = index
            "
          >
            <td class="align-middle text-center h3">
              {{ vale.correlativoVale }}
            </td>
            <td class="align-middle text-center h3">
              {{ "$ " + vale.valorVale + ".00" }}
            </td>
          </tr>
        </tbody>
      </table>
      <div class="pagination pagination-rounded justify-content-end mb-2">
        <pagination-controls
          previousLabel="Anterior"
          nextLabel="Siguiente"
          firstLabel="Primera"
          lastLabel="Última"
          itemsPerPageLabel="por página"
          (pageChange)="pVales = $event"
        ></pagination-controls>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-light"
      (click)="modal.close('Close click')"
    >
      Cerrar
    </button>

    <!--<button type="button" class="btn btn-primary">Save changes</button>-->
  </div>
</ng-template>
