<header id="page-topbar">
  <div class="navbar-header">
    <div class="d-flex">
      <!-- LOGO -->
      <div class="navbar-brand-box">
        <a routerLink="/" class="logo logo-dark">
          <span class="logo-sm">
            <img src="assets/images/logo-sm.png" alt="" height="45">
          </span>
          <span class="logo-lg">
            <img class="logo-top" src="assets/images/logo-lg.png" alt="" height="40">
          </span>
        </a>

        <a routerLink="/" class="logo logo-light">
          <span class="logo-sm">
            <img src="assets/images/logo-sm.png" alt="" height="45">
          </span>
          <span class="logo-lg">
            <img class="logo-top" src="assets/images/logo-lg.png" alt="" height="40">
          </span>
        </a>
      </div>

      <button type="button" class="btn btn-sm px-3 font-size-16 header-item" id="vertical-menu-btn"
        (click)="toggleMobileMenu($event)">
        <i class="{{icono}}"></i>
      </button>


    </div>

    <div class="constainer d-flex">
      <div class="dropdown d-inline-block d-lg-none ms-2 search" ngbDropdown>
        <button type="button" class="btn header-item noti-icon" id="page-header-search-dropdown" data-toggle="dropdown"
          aria-haspopup="true" ngbDropdownToggle aria-expanded="false">
          <i class="mdi mdi-magnify"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0" ngbDropdownMenu
          aria-labelledby="page-header-search-dropdown">
          <form class="p-3">
            <div class="m-0">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search ..." aria-label="Recipient's username">
                <div class="input-group-append">
                  <button class="btn btn-primary" type="submit"><i class="mdi mdi-magnify"></i></button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="dropdown d-inline-block" ngbDropdown>
        <div class="content">
          <img class="rounded-circle header-profile-user"
            [src]="fotoEmpleado !== '' ? fotoEmpleado : './../../../assets/images/Default-Avatar.png'"
            alt="Header Avatar">
          <div class="vertical-line"></div>
          <button  type="button" class="btn header-item header-profile-name" ngbDropdownToggle
            id="page-header-user-dropdown">
            <span class="user-text-name">{{empleado?.nombre | slice:0:10}}{{ empleado?.nombre.length > 10? '...' : ''
              }}</span>
            <i class="mdi mdi-chevron-down ms-1"></i>
            <p class="user-text">{{ empleado?.cargo.nombreCargo | slice:0:15}}{{ empleado?.cargo.nombreCargo.length > 15? '...' : ''}}</p>
            <span class="user-text-2" *ngIf="empleado?.jefe">Jefe Dpto</span>
          </button>
        </div>


        <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
          <!-- item-->
          <app-modal [leyenda]="'Datos'"></app-modal>

          <app-modal [leyenda]="'Credenciales'"></app-modal>

      <!--     <a class="dropdown-item" (click)="Email()"><i class="bx bx-mail font-size-16 align-middle me-1"></i>
            {{ 'Enviar Email' | translate}}</a> -->

<!--           <a class="dropdown-item d-block" href="javascript: void(0);"><i
              class="bx bx-wrench font-size-16 align-middle me-1"></i>{{
            'Configuración' | translate}} </a>
          <a class="dropdown-item" href="javascript: void(0);"><i
              class="bx bx-lock-open font-size-16 align-middle me-1"></i>
            {{ 'Bloquear' | translate}}</a>
          <div class="dropdown-divider"></div> -->
          <a class="dropdown-item text-danger" href="javascript: void(0);" (click)="logout()"><i
              class="bx bx-power-off font-size-16 align-middle me-1 text-danger"></i>
            {{ 'Cerrar Sesión' | translate}}</a>
        </div>

      </div>

    </div>
  </div>
</header>