.image-container {
  width: 90px; // Ancho deseado para la imagen
  height: 90px; // Alto deseado para la imagen
  overflow: hidden;
  border-radius: 50%; // Hace que la imagen sea redonda
  margin: 0 auto; // Centra la imagen horizontalmente
  position: relative;
  margin-top: -46px;
  border: 4px solid white;
  z-index: 1;

  img {
    width: 100%;
    height: 100%;
    display: block;
  }
}


.button-container {
  display: flex;
  justify-content: space-between;
  /* Esto distribuirá los elementos de forma equitativa */
  align-items: center;
  /* Esto alinea los elementos verticalmente en el centro */
}

.mt-2 {
  margin-top: 0.5rem;
  /* Ajusta este valor según tus preferencias */
}