  <div class="card" >
    <!-- Inicio del bucle que muestra las imágenes -->
    <div class="bg" >
      <div class="col-md-12" >
        <img [src]="obje.vehiculo.nombrefoto" class="card-img-top col-img" alt="" >
      </div>
      <div class="card-body">
        <div class="col-md-12">
          <div class="mb-3">
            <p><strong>Fecha de uso:</strong></p>
        <p>{{obje.fechaSalida| date : "dd/MM/yyyy" }}</p>
        <p><strong>Motorista: </strong></p>
        <p>{{obje.motorista.nombre}} {{obje.motorista.apellido}}</p>
        <p><strong>Placa: </strong>{{obje.vehiculo.placa}}</p>
          </div>
        </div>

            
              <div class="d-flex justify-content-center">
                <!--<a class="btn btn-salida btn-separado">+ Salida</a>-->
                <app-modal  *ngIf="controlador1" [leyenda]="'Salida'" [titulo]="'Salida'" [leyendas]="'Salida'"  [objetivoMision]="obje" ></app-modal>
                <!--<a class="btn btn-entrada">- Entrada</a>-->
                <app-modal  *ngIf="controlador2" [leyenda]="'Entrada'" [titulo]="'Entrada'"  [leyendas]="'Entrada'" [objetivoMision]="obje"   [controllerdata]="controllerdata"></app-modal>
                <!--<a [routerLink]="['/modal/', obje.codigoSolicitudVehiculo]" class="btn btn-primary">ver</a>---->
              </div>
              
      </div>
      
    </div>
    <div class="blob"></div>
    <!-- Fin del bucle que muestra las imágenes -->
  </div>

  <style>
    p {
        margin: 0; /* Elimina el margen entre párrafos */
    }
</style>
