<div class="card">
  <div class="bg">

    <img [src]="obj.nombrefoto" class="card-img-top col-img" alt="">
    <div class="card-body">
      <p><strong>Fecha de uso : </strong>dddd/mm/yyyy</p>
      <p><strong>Motorista : </strong>Marvin de Paz neftaly</p>
      <p><strong>Placa: </strong>{{obj.placa}}</p>
      <div class="d-flex justify-content-between">
        <!--<a class="btn btn-salida btn-separado">+ Salida</a>-->
        <app-modal [leyenda]="'Salida'" [titulo]="'Salida'" [leyendas]="'Salida'"></app-modal>
        <!--<a class="btn btn-entrada">- Entrada</a>-->
        <app-modal [leyenda]="'Entrada'" [titulo]="'Entrada'" [leyendas]="'Entrada'"></app-modal>

      </div>
    </div>

  </div>
  <div class="blob"></div>
</div>