/* Estilo para el contenedor de los botones */
.d-flex.justify-content-between {
    gap: 12px; /* Ajusta el espacio horizontal entre los botones */
  }
  
  /* Estilo opcional para los botones */
  .btn {
    white-space: nowrap; /* Evita que los botones se envuelvan al siguiente renglón */
  }


  .bordered-card {
    border: 4px solid #ccc; /* Establece el ancho y el color del borde según tus preferencias */
    border-radius: 10px; /* Agrega esquinas redondeadas */
    padding: 15px; /* Agrega espacio interno alrededor del contenido de la tarjeta */
  }