<app-loader></app-loader>
<app-page-title
  title="Vales Asignados"
  [breadcrumbItems]="breadCrumbItems"
></app-page-title>
<div class="col-12">
  <div class="card">
    <div class="card-body">
      <div class="row mb-1">
        <h2 class="card-title"></h2>
        <h4 class="card-title-desc">Misión:</h4>
        <h3 class="ms-5">{{ mision }}</h3>
      </div>
      <div class="row">
        <div class="col-2"></div>
        <div class="col-lg-6">
          <app-tabla-detalle [codigoAsignacion]="codigoAsignacion"></app-tabla-detalle>
        </div>
        <div class="col-2"></div>
      </div>
      <div class="row">
        <div class="col-2 mt-4">
          <button type="button" class="btn btn-dark float-sm-end">
            Anular
          </button>
        </div>
        <div class="d-flex justify-content-end mt-4 col-8">
          <button type="submit" class="btn btn-primary me-2">Liquidar</button>

          <button type="button" class="btn btn-dark">Volver</button>
        </div>
      </div>

      <!-- <div class="col-10 justify-content-end d-flex mt-2">
        <button type="button" class="btn btn-dark">Volver</button>
        <button type="button" class="btn btn-primary">Guardar</button>
      </div> -->
      <!-- <div class="row mt-2">
        <div class="col-1">
          <button
            type="button"
            class="btn btn-dark float-sm-start"
            id="btn-cancel"
            name="btn-cancel"
            aria-hidden="true"
          >
            Anular
          </button>
        </div>

        <div class="col-2"></div>
      </div> -->
    </div>
  </div>
</div>
