<span *ngIf="leyenda !== titulo">
    <div class="text-sm-end">
        <button type="button" class="btn btn-primary me-2" (click)="openModal(content)">{{titulo}}
        </button>
    </div>
</span>


<!-- Modal -->

<div class="modal modal-fullscreen-xl-down fade" id="modalEmpleado" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <ng-template #content role="document" let-modal>
        <div class="modal-header">
            <h5 class="modal-title mt-0">{{leyenda}} Documentos cargados</h5>
            <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <!---<div class="col-sm-4">
                <div class="search-box me-2 mb-2 d-inline-block">
                  <div class="position-relative">
                    <input type="text" class="form-control" placeholder="Buscar..." [(ngModel)]="termBusca" (input)="b = 1">
                    <i class="bx bx-search-alt search-icon"></i>
                  </div>
                </div>
            </div>---->
            <div class="table-responsive mb-0" >
                <table class="table table-centered table-nowrap" >
                    <thead class="table-light">
                        <tr>
                                <th class="align-middle">Comprobante</th>
                                <th class="align-middle">Fecha</th>
                                <th class="align-middle">Tipo documento</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of filtrarDatos() | paginate: { itemsPerPage: 2, currentPage: b }; let i = index">
                            <td>N° {{data.comprobante}}</td>
                            <td>{{ data.fecha | date: 'dd/MM/yyyy' }}</td>
                            <td>{{data.tipo}}</td>
                            <!---<td class="align-middle text-center text-center">
        
                                    <button type="button" class="btn btn-primary btn-sm btn-rounded boton-cuadrado mx-1" (click)="descargar(data.id, data.comprobante)">
                                        <i class="mdi mdi-18px mdi-file-download"></i>
                                    </button>

                            </td>---->
                        </tr>
                    </tbody>
                </table>
                <!--<div class="pagination pagination-rounded justify-content-end mb-2">
                    <pagination-controls (pageChange)="b = $event" [nextLabel]="''" [previousLabel]="''"></pagination-controls>
                </div>--->
            </div>
        </div>
    </ng-template>
</div>
<!-- Modal -->

<script>
    // Deshabilitar el cursor en el campo de entrada
    const readonlyInput = document.getElementById("readonlyInput");

    readonlyInput.addEventListener("mousedown", (event) => {
        event.preventDefault();
    });

    readonlyInput.addEventListener("keydown", (event) => {
        event.preventDefault();
    });
</script>