
<div class="table-responsive mb-0">
    <table class="table table-centered table-nowrap">
        <thead class="table-light">
            <tr>
                <th class="align-middle">Tipo de documento</th>
                <th class="align-middle">Fecha</th>
                <th class="align-middle">Comprobante</th>
                <th class="align-middle">Cod Solicitud</th>
                <th class="align-middle">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of documentosvale |  filter:queryString | paginate: { itemsPerPage: 5, currentPage: p } ">
                <td>{{data.tipoDocumento}}</td>
                <td>{{data.fecha}}</td>
                <td>N° &nbsp; &nbsp;{{data.numeroComprobante}}</td>
                <td>{{data.codigosolicitudvale | slice:0:10}}{{data.codigosolicitudvale.length>10 ? '...':''}}</td>
                <td class="align-middle ">
                    <button type="button" class="btn custom-btn">Descargar</button>
                    <!--       botones para editar -->
                    <!---<app-modulodocumentovale></app-modulodocumentovale>--->
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="pagination pagination-rounded justify-content-end mb-2">
    <pagination-controls (pageChange)="p = $event" nextLabel="Siguiente" previousLabel="Anterior"></pagination-controls>
</div>
<!-- end table -->
