<div *ngIf="leyenda == 'Datos'">
    <a class="dropdown-item" style="cursor: pointer;" (click)="openModal(content)">
        <i class="bx bx-user font-size-16 align-middle me-1"></i>Perfil
    </a>
</div>

<div *ngIf="leyenda == 'Credenciales'">
    <a class="dropdown-item" style="cursor: pointer;" (click)="openModal(content)">
        <i class="bx bx bx-lock font-size-16 align-middle me-1"></i>Credenciales
    </a>
</div>


<!-- Modal-->
<div class="modal modal-fullscreen-xl-down fade" id="modalEmpleado" name="modalEmpleado" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <ng-template #content role="document" let-modal>
        <div class="modal-header">

            <div *ngIf="leyenda == 'Datos'">
                <h5 class="modal-title mt-0">Perfil de Usuario</h5>
            </div>

            <div *ngIf="leyenda == 'Credenciales'">
                <h5 class="modal-title mt-0">Modificar Credenciales</h5>
            </div>


            <div class="btn-alerta" *ngIf="alerts">
                <i class="mdi mdi-18px mdi-lightbulb-on-outline custom-cursor" ngbTooltip="Mostrar Ayuda"
                    *ngIf="leyenda == 'Datos' ? !siMuestraAlertas() : !siMuestraAlertas2()"
                    (click)="leyenda == 'Datos' ? restaurarAlerts() : restaurarAlerts2()"></i>
            </div>

            <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">

            <div *ngIf="leyenda == 'Datos'">
                <div *ngFor="let alert of alerts">
                    <div class="alert alert-{{ alert.type }} alert-dismissible fade show" role="alert"
                        *ngIf="alert.show">
                        <strong>Importante!</strong>
                        <div class="text-justify">{{ alert.message }}</div>
                        <button type="button" class="btn-close" (click)="CambiarAlert(alert)"
                            aria-label="Close"></button>
                    </div>
                </div>
            </div>

            <div *ngIf="leyenda == 'Credenciales'">
                <div *ngFor="let alert of alerts2">
                    <div class="alert alert-{{ alert.type }} alert-dismissible fade show" role="alert"
                        *ngIf="alert.show">
                        <strong>Importante!</strong>
                        <br/>
                        <strong>{{nuevo ? '!Debe cambiar clave "por defecto", por la original¡' : ''}}</strong>
                        <div class="text-justify">{{ alert.message }}</div>
                        <button type="button" class="btn-close" (click)="CambiarAlert2(alert)"
                            aria-label="Close"></button>
                    </div>
                </div>
            </div>


            <!-- Credenciales -->

            <div *ngIf="leyenda == 'Credenciales'">
                <form (ngSubmit)="guardar()" [formGroup]="formUsuario" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md">


                            <!-- inicio de clave Empleado -->
                            <div class="form-group row m-4">
                                <label class="control-label">Clave :
                                    <span class="text-danger">*</span>
                                    <span class="msjclave" [ngClass]="seguridad">{{msjclave}}</span>
                                </label>
                                <div class="input-group auth-pass-inputgroup">
                                    <input [type]="showPassword ? 'text' : 'password'" type="password"
                                        formControlName="clave" class="form-control" id="clave" name="clave"
                                        placeholder="Ingrese clave" [class]="esCampoValidoU('clave')"
                                        (input)="SeguridadClave($event)" />

                                    <button class="btn btn-light ms-0" type="button" id="password-addon"
                                        (click)="togglePasswordVisibility()"><i
                                            class="mdi mdi-eye-outline"></i></button>
                                    <div class="invalid-feedback">
                                        <span *ngIf="formUsuario.get('clave')?.errors?.['required']">
                                            Ingrese el clave</span>
                                    </div>
                                </div>
                            </div>
                            <!-- fin de clave Empleado -->

                            <!-- inicio de confirclave Empleado -->
                            <div class="form-group row m-4">
                                <label class="control-label">Confirmar Clave :
                                    <span class="text-danger">*</span>
                                    <span class="msjclave" [ngClass]="confirma">{{msjclaveconfir}}</span>
                                </label>
                                <div class="input-group auth-pass-inputgroup">
                                    <input [type]="showPassword2 ? 'text' : 'password'" type="password"
                                        class="form-control" id="confirclave" name="confirclave"
                                        placeholder="Confirme la Clave" (input)="VerificarClaves($event)" />

                                    <button class="btn btn-light ms-0" type="button" id="password-addon"
                                        (click)="togglePasswordVisibility2()"><i
                                            class="mdi mdi-eye-outline"></i></button>
                                    <div class="invalid-feedback">
                                        <span *ngIf="formEmpleado.get('confirclave')?.errors?.['required']">
                                            Ingrese la confirmacion</span>
                                    </div>
                                </div>
                            </div>
                            <!-- fin de apellido Empleado -->


                        </div>
                    </div>


                    <div class="d-flex justify-content-end mt-4">
                        <button type="submit" class="btn btn-primary w-sm me-2" id="btn-save"
                            name="btn-save">Modificar</button>

                        <button type="button" class="btn btn-dark w-sm" id="btn-cancel" name="btn-cancel"
                            aria-hidden="true" (click)="modal.dismiss('Cross click')">Cancelar</button>
                    </div>

                </form>
            </div>
            <!-- Credenciales -->

            <!-- Datos -->

            <div *ngIf="leyenda == 'Datos'">
                <form (ngSubmit)="guardar()" [formGroup]="formEmpleado" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md">

                            <!-- inicio de foto Empleado -->
                            <div class="form-group row">

                                <div class="col-md-7">
                                    <div class="form-group row m-2">
                                        <label class="control-label" for="file">Foto: </label>
                                        <input id="file" type="file" multiple class="form-control"
                                            (change)="onFileSelected($event)" />
                                    </div>
                                </div>

                                <div class="col-md">
                                    <img class="rounded-circle custom-border" *ngIf="!imgTemp"
                                        [src]="fotoEmpleado !== '' ? fotoEmpleado : './../../../../assets/images/Default-Avatar.png'"
                                        alt="">

                                    <img class="rounded-circle custom-border" *ngIf="imgTemp" [src]="imgTemp" alt="">
                                </div>
                            </div>
                            <!-- fin de foto Usuario -->


                            <!-- fin de licencia Empleado -->

                            <!-- inicio de nombre Empleado -->
                            <div class="form-group row m-4">
                                <label class="control-label">Nombre:
                                    <span class="text-danger">*</span>
                                </label>
                                <input type="text" formControlName="nombre" class="form-control" id="nombre"
                                    name="nombre" [ngModel]="empleado.nombre" placeholder="Ingrese nombre"
                                    [class]="esCampoValido('nombre')" />
                                <div class="invalid-feedback">
                                    <span *ngIf="formEmpleado.get('nombre')?.errors?.['required']">
                                        Ingrese el nombre</span>
                                    <span *ngIf="formEmpleado.get('nombre')?.errors?.['pattern']">
                                        No debe contener numeros</span>
                                </div>
                            </div>
                            <!-- fin de nombre Empleado -->

                            <!-- inicio de apellido Empleado -->
                            <div class="form-group row m-4">
                                <label class="control-label">Apellido:
                                    <span class="text-danger">*</span>
                                </label>
                                <input type="text" formControlName="apellido" class="form-control" id="apellido"
                                    [ngModel]="empleado.apellido" name="apellido" placeholder="Ingrese apellido"
                                    [class]="esCampoValido('apellido')" />
                                <div class="invalid-feedback">
                                    <span *ngIf="formEmpleado.get('apellido')?.errors?.['required']">
                                        Ingrese el apellido</span>
                                    <span *ngIf="formEmpleado.get('apellido')?.errors?.['pattern']">
                                        No debe contener numeros</span>
                                </div>
                            </div>
                            <!-- fin de apellido Empleado -->

                            <!-- inicio de telefono Empleado -->
                            <div class="form-group row m-4">
                                <label class="control-label">Teléfono:
                                    <span class="text-danger">*</span>
                                </label>
                                <input type="text" formControlName="telefono" class="form-control" id="telefono"
                                    [ngModel]="empleado.telefono" name="telefono" [class]="esCampoValido('telefono')"
                                    placeholder="Ingrese teléfono - ej: 0000-0000" mask="0000-0000" />
                                <div class="invalid-feedback">
                                    <span *ngIf="formEmpleado.get('telefono')?.errors?.['required']">
                                        Ingrese un teléfono</span>

                                    <span *ngIf="formEmpleado.get('telefono').hasError('pattern')">
                                        Debe comenzar con 2, 6 o 7 y tener 8 dígitos en total.
                                    </span>
                                </div>
                            </div>
                            <!-- fin de telefono Empleado -->
                        </div>
                    </div>


                    <div class="d-flex justify-content-end mt-4">
                        <button type="submit" class="btn btn-primary w-sm me-2" id="btn-save"
                            name="btn-save">Modificar</button>

                        <button type="button" class="btn btn-dark w-sm" id="btn-cancel" name="btn-cancel"
                            aria-hidden="true" (click)="modal.dismiss('Cross click')">Cancelar</button>
                    </div>

                </form>
            </div>
            <!-- Datos -->
        </div>
    </ng-template>
</div>
<!-- Modal -->