button.btn-close {
  margin-left: 5px;
}

/* styles.css o styles.scss */
.custom-border {
  border: 1.5px solid #550000;
  padding: 5px;
}

img {
  width: 180px;
  height: 175px;
}

.msjclave {
  display: inline-block;
  margin-left: 5px;
  font-size: 12px;
}

.alta {
  color: green;
}

.media {
  color: orange;
}

.baja {
  color: red;
}

.confirmada {
  color: rgb(10, 10, 192);
}

.errorclave {
  color: red;
}