
        <div class="modal-header">
            <h5 class="modal-title mt-0">{{titulo}} Vehiculo</h5>
            <button type="button" class="btn-close" aria-hidden="true" (click)="activeModal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <form (ngSubmit)="guardar()" [formGroup]="formVehiculo" enctype="multipart/form-data" autocomplete="off">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row m-4">
                    <div class="col-md-7" *ngIf="titulo !== 'Detalle'">
                        <div class="form-group row">
                            <label class="control-label" for="file">Foto: </label>
                            <input formControlName="file" id="file" type="file" multiple class="form-control"
                                (change)="onFileSelected($event)" />
                        </div>
                    </div>
                    <span class="align-text-top col-md-4" style="display: flex; left: 10%;" *ngIf="titulo === 'Detalle' && !imgTemp"><strong>Foto de Perfil :</strong></span>
                    <div class="col-md-4" >
                        <img class="rounded-circle custom-border"  *ngIf="leyenda === titulo && !imgTemp" src="{{objVehiculo.nombrefoto}}" alt="">

                        <img class="rounded-circle custom-border" *ngIf="imgTemp" [src]="imgTemp" alt="">
                    </div>
                  </div>

                  <div class="form-group row m-4">
                    <label class="control-label">Modelo:</label>
                    <input type="text" formControlName="modelo" class="form-control" id="modelo" name="modelo"
                        placeholder="Ingrese Modelo" [readonly]="objVehiculo != null && titulo == 'Detalle'"
                        [class]="esCampoValido('modelo')"/>
                    <div class="invalid-feedback">
                      <div class="invalid-feedback">
                        <span *ngIf="formVehiculo.get('modelo')?.errors?.['required']">
                            Requiere una Modelo
                        </span>
                        <span *ngIf="formVehiculo.get('modelo')?.errors?.['pattern']">
                            Ingreso solo texto
                        </span>
                      </div>
                    </div>

                  </div>

                </div>

                <div class="col-md-6">
                  <div class="form-group row m-4">
                    <label class="control-label">Número Placa:</label>
                    <input type="text" formControlName="placa" class="form-control" id="placa" name="placa"
                        placeholder="Ingrese Placa" [readonly]="objVehiculo != null && titulo == 'Detalle'"
                        [class]="esCampoValido('placa')"/>
                        <div class="invalid-feedback">
                          <span *ngIf="formVehiculo.get('placa')?.errors?.['required']">
                              Requiere Placa
                          </span>
                        </div>
                  </div>

                  <div class="form-group row m-4">
                    <label class="control-label">Marca:</label>
                    <input type="text" list="datalistOptions" formControlName="marca" class="form-control" id="marca" name="marca"
                        placeholder="Ingrese Modelo" [readonly]="objVehiculo != null && titulo == 'Detalle'"
                        [class]="esCampoValido('marca')"/>
                        <datalist id="datalistOptions">
                          <option value="Toyota">
                          <option value="Jeep">
                          <option value="Isuzu">
                          <option value="Mazada">
                          <option value="Mitsubishi">
                        </datalist>
                        <div class="invalid-feedback">
                          <span *ngIf="formVehiculo.get('marca')?.errors?.['required']">
                              Requiere Marca
                          </span>
                          <span *ngIf="formVehiculo.get('marca')?.errors?.['pattern']">
                              Ingreso solo texto
                          </span>
                        </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="form-group row m-4">
                    <div class="col-md-3">
                      <label class="control-label">Número Motor:</label>
                      <input type="text" formControlName="n_motor" class="form-control" id="n_motor" name="n_motor"
                        placeholder="Ingrese Motor" [readonly]="objVehiculo != null && titulo == 'Detalle'"
                        [class]="esCampoValido('n_motor')"/>
                        <div class="invalid-feedback">
                          <span *ngIf="formVehiculo.get('n_motor')?.errors?.['required']">
                              Requiere Motor
                          </span>
                          <span *ngIf="formVehiculo.get('n_motor')?.errors?.['pattern']">
                              Ingreso solo texto
                          </span>
                        </div>
                    </div>
                    <div class="col-md-3">
                      <label class="control-label">Número Chasis:</label>
                      <input type="text" formControlName="n_chasis" class="form-control" id="n_chasis" name="n_chasis"
                        placeholder="Ingrese Modelo" [readonly]="objVehiculo != null && titulo == 'Detalle'"
                        [class]="esCampoValido('chasis')"/>
                        <div class="invalid-feedback">
                          <span *ngIf="formVehiculo.get('n_chasis')?.errors?.['required']">
                              Requiere Chasis
                          </span>
                          <span *ngIf="formVehiculo.get('n_chasis')?.errors?.['pattern']">
                              Ingreso solo texto
                          </span>
                        </div>
                    </div>
                    <div class="col-md-3">
                      <label class="control-label">Clase:</label>
                      <input type="text" formControlName="clase" class="form-control" id="clase" name="clase"
                        placeholder="Ingrese Modelo" [readonly]="objVehiculo != null && titulo == 'Detalle'"
                        [class]="esCampoValido('clase')"/>
                        <div class="invalid-feedback">
                          <span *ngIf="formVehiculo.get('clase')?.errors?.['required']">
                              Requiere una Clase
                          </span>
                          <span *ngIf="formVehiculo.get('clase')?.errors?.['pattern']">
                              Ingreso solo texto
                          </span>
                        </div>
                    </div>
                    <div class="col-md-3">
                      <label class="control-label">Color:</label>
                      <input type="text" formControlName="color" class="form-control" id="color" name="color"
                        placeholder="Ingrese Modelo" [readonly]="objVehiculo != null && titulo == 'Detalle'"
                        [class]="esCampoValido('color')"/>
                        <div class="invalid-feedback">
                          <span *ngIf="formVehiculo.get('color')?.errors?.['required']">
                              Requiere un Color
                          </span>
                          <span *ngIf="formVehiculo.get('color')?.errors?.['pattern']">
                              Ingreso solo texto
                          </span>
                        </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="form-group row m-4">
                    <div class="col-md-3">
                      <label class="control-label">Capacidad Personas:</label>
                      <input type="number" formControlName="capacidad" class="form-control" id="capacidad" name="capacidad"
                        placeholder="Ingrese Modelo" [readonly]="objVehiculo != null && titulo == 'Detalle'"
                        [class]="esCampoValido('capacidad')"/>
                        <div class="invalid-feedback">
                          <span *ngIf="formVehiculo.get('capacidad')?.errors?.['required']">
                              Requiere  Capacidad
                          </span>
                          <span *ngIf="formVehiculo.get('capacidad')?.errors?.['min']">
                            Tamano minimo >= {{formVehiculo.get('capacidad')?.errors?.['min']?.min }}
                          </span>
                        </div>
                    </div>
                    <div class="col-md-3">
                      <label class="control-label">Capacidad Tanque:</label>
                      <input type="text" formControlName="capacidadTanque" class="form-control" id="capacidadTanque" name="capacidadTanque"
                        placeholder="Ingrese Modelo" [readonly]="objVehiculo != null && titulo == 'Detalle'"
                        [class]="esCampoValido('ctanque')"/>
                        <div class="invalid-feedback">
                          <span *ngIf="formVehiculo.get('capacidadTanque')?.errors?.['required']">
                              Requiere  Capacidad
                          </span>
                        </div>
                    </div>
                    <div class="col-md-3">
                      <label class="control-label">Tipo de Gas:</label>
                      <select type="text" formControlName="tipoGas" class="form-select" id="tipoGas" name="tipoGas"
                        [disabled]="objVehiculo != null && titulo == 'Detalle'"
                        [class]="esCampoValido('tipoGas')">
                          <option value="Diesel">Diesel</option>
                          <option value="Gasolina">Gasolina</option>
                      </select>
                      <div class="invalid-feedback">
                        <span *ngIf="formVehiculo.get('tipoGas')?.errors?.['required']">
                            Requiere un Tipo
                        </span>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <label class="control-label">Año Vehiculo:</label>
                      <input type="number" formControlName="year" class="form-control" id="year" name="year"
                        placeholder="Ingrese Año" [readonly]="objVehiculo != null && titulo == 'Detalle'"
                        [class]="esCampoValido('year')"/>
                        <div class="invalid-feedback">
                          <span *ngIf="formVehiculo.get('year')?.errors?.['required']">
                              Requiere un modelo
                          </span>
                          <span *ngIf="formVehiculo.get('year')?.errors?.['invalidYear']">
                            Año fuera de rango
                          </span>
                        </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="d-flex justify-content-end mt-4">
                  <button type="submit" class="btn btn-primary me-2" id="btn-save" name="btn-save">
                      Guardar
                  </button>
                  <button type="button" class="btn btn-dark" id="btn-cancel" name="btn-cancel" aria-hidden="true"
                  (click)="activeModal.dismiss('Cross click')">
                      Cancelar
                  </button>
              </div>
            </form>
        </div>

<!-- Modal -->
