img {
  width: 160px;
  height: 155px;
}

button.btn-close{
  margin-left: 5px;
}

/* Agrega una clase para aplicar el estilo de "solo lectura" al select */
.select-readonly {
  background-color: #eff2f7;
  /* Cambia el color de fondo para indicar que está en modo "solo lectura" */
  pointer-events: none;
  /* Evita que se capturen eventos en el select */
}

.select-readonly-check {
  pointer-events: none;
  /* Evita que se capturen eventos en el select */
}


/* para no interactuae cuando no sea editable el campo */
.no-interaction {
  pointer-events: none;
  background-color: lightgray;
}

/* styles.css o styles.scss */
.align-content-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* styles.css o styles.scss */
.custom-border {
  border: 1.5px solid #550000;
  padding: 5px;
}

.color-top-modal {
  //background: #550000;
}

.color-top-modal h5 {
 // color: white;
}

/* Estilos para el botón de cierre personalizado */
.btn-close-color {
  background: none;
  border: none;
  padding: 0;
  font-size: 1.5rem;
  line-height: 1;
  cursor: pointer;
  color: white;
}

.btn-close-color::before,
.btn-close-color::after {
  content: "x";
  position: absolute;
  align-content: end;
  top: 2.5%;
  right: 1.5%;
}

.imgcontent{
  width: 160px;
  height: 155px;
}
