
<!-- Modal -->

<div class="modal-header">
  <h5 class="modal-title mt-0">Movimientos de la solicitud</h5>
  <div class="btn-alerta" *ngIf="alerts">
    <i
      class="mdi mdi-18px mdi-lightbulb-on-outline custom-cursor"
      ngbTooltip="Mostrar Ayuda"
      *ngIf="!siMuestraAlertas()"
      (click)="restaurarAlerts()"
    ></i>
  </div>
  <button type="button" class="btn-close" aria-hidden="true" (click)="activeModal.dismiss('Cross click')">
  </button>
</div>
<div class="modal-body">
  <div *ngFor="let alert of alerts">
    <div
      class="alert alert-{{ alert.type }} alert-dismissible fade show"
      role="alert"
      *ngIf="alert.show"
    >
      <strong>{{
        alert.type === "info" ? "Importante!" : "Precaución!"
        }}</strong>
      {{ alert.message }}
      <button
        type="button"
        class="btn-close"
        (click)="CambiarAlert(alert)"
        aria-label="Close"
      ></button>
    </div>
  </div>

  <button type="button" class="btn btn-dark w-sm" id="btn-cancel" name="btn-cancel"
          aria-hidden="true" (click)="activeModal.close('Close click')">Cancelar</button>
</div>
<!-- Modal -->
