<!-- Button trigger modal
<span *ngIf="leyenda=='Agregar'">
  <div class="text-sm-end">
    <button type="button"  class="btn btn-primary btn-rounded"
    (click)="openModal(content)">
    {{leyenda}}
     </button>
  </div>
</span>
-->
<!--
<span *ngIf="leyenda=='Editar'">
  <button type="button"  class="btn btn-info btn-sm btn-rounded boton-cuadrado mx-1"
  ngbTooltip="editar" (click)="openModal(content)">
  <i class="mdi mdi-18px mdi-book-edit-outline"></i>
   </button>
  </span>
-->




 <!-- Modal -->
<!--
 <ng-template #content role="document" let-modal>
 -->

  <div class="modal-header color-top-modal">
    <h5 class="modal-title mt-0">{{leyenda}} Cargos</h5>
    <button type="button" class="btn-close" aria-hidden="true" (click)="activeModal.dismiss('Cross click')"
    ></button>
  </div>
  <form (ngSubmit)="guardar()" [formGroup]="formCargo">
    <div class="modal-body">
<div class="row">
<div class="col-md-12">
  <!--inicio del campo nombre-->
  <div class="form-group row m-4">
    <label class="control-label">Nombre:<span class="text-danger"> *</span></label>
    <input type="text"
    class="form-control"
    formControlName="nombreCargo"
    placeholder="Nombre"
    [class]="esCampoValido('nombreCargo')">
    <div *ngIf="nombreCargo?.errors?.['required'] && nombreCargo?.touched">
      <span [ngStyle]="{color:'tomato', 'font-size': '12'}">*El campo Nombre es obligatorio</span>
      </div>
      <div *ngIf="nombreCargo?.errors?.['pattern'] && nombreCargo?.touched">
        <span [ngStyle]="{color:'tomato', 'font-size': '12'}">*Solo letras Mayusculas</span>
        </div>
  </div>

  <!--fin del campo nombre-->

  <!--inicio del campo descripcion-->
  <div class="form-group row m-4">
    <label class="control-label">Descripcion:<span class="text-danger"> *</span></label>
    <textarea type="text"
    class="form-control"
    formControlName="descripcion"
    placeholder="Descripcion"
    [class]="esCampoValido('descripcion')"></textarea>
    <div *ngIf="descripcion?.errors?.['required'] && descripcion?.touched">
      <span [ngStyle]="{color:'tomato', 'font-size': '12'}">*El campo Descripcion es obligatorio</span>
      </div>
      <div *ngIf="descripcion?.errors?.['pattern'] && descripcion?.touched">
        <span [ngStyle]="{color:'tomato', 'font-size': '12'}">*Solo letras y espacio</span>
        </div>
  </div>

  <!--fin del campo descripcion-->
</div>
</div>







</div>

<div class="modal-footer">

 <button type="submit" class="btn btn-primary">Guardar</button>

 <button type="button" class="btn btn-dark" (click)="activeModal.dismiss('Cross click')"
 >Close</button>
</div>

</form>


<!--
  </ng-template>
-->


