<app-loader></app-loader>
<div class="container-fluid">
  <app-page-title
    title="Solicitudes de Vales de Combustible por Aprobar"
    [breadcrumbItems]="breadCrumbItems"
  ></app-page-title>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="row mb-2">
            <div class="col-sm-4">
              <div class="search-box me-2 mb-2 d-inline-block">
                <div class="position-relative">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Buscar"
                    [(ngModel)]="term"
                  />
                  <i class="bx bx-search-alt search-icon"></i>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <select
                  class="form-control"
                  id="exampleCombobox"
                  (change)="filtrar($event.target.value)"
                >
                  <option value="">filtro por estado</option>
                  <option value="1">Por Aprobar</option>
                  <option value="6">Revisión</option>
                  <option value="4">Aprobadas</option>
                </select>
              </div>
            </div>
          </div>

          <table class="table">
            <thead  class="table-light">
              <tr>
                <th>Solicitante</th>
                <th>Mision</th>
                <th>Motorista</th>
                <th>Fecha de Uso</th>
                <th>Estado</th>
                <th style="text-align: center">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <ng-container
                *ngIf="solicitudesVales != undefined; else noDataTemplate"
              >
                <tr
                  *ngFor="
                    let item of solicitudesVales
                      | filter : term
                      | paginate : { itemsPerPage: 10, currentPage: p };
                    let i = index
                  "
                >
                  <td>
                    {{ item.nombreSolicitante }}
                  </td>
                  <td>{{ item.mision }}</td>

                  <td>{{ item.nombreMotorista }}</td>
                  <td>
                    {{ fechaformateada[i] }}
                  </td>
                  <td>
                    <h5>
                      <span
                        [class]="
                          item.estadoSolicitud == 1
                            ? 'badge rounded-pill bg-info'
                            : item.estadoSolicitud == 6
                            ? 'badge rounded-pill bg-warning'
                            : item.estadoSolicitud == 4
                            ? 'badge rounded-pill bg-success'
                            : ''
                        "
                      >
                        {{ estadoSoli }}
                      </span>
                    </h5>
                  </td>
                  <td style="text-align: center">
                    <button
                      pe="button"
                      class="btn btn-primary btn-sm btn-rounded mx-1"
                      (click)="verDetalle(mdDetalleSolicitudVale, item)"
                      ngbTooltip="Detalle"
                    >
                      <i class="mdi mdi-18px mdi-eye-outline"></i>
                    </button>
                  </td>
                </tr>
              </ng-container>
              <ng-template #noDataTemplate>
                <tr>
                  <td colspan="6" style="text-align: center">
                    {{mensajeTabla}}
                  </td>
                </tr>
              </ng-template>
            </tbody>
          </table>
          <div class="pagination pagination-rounded justify-content-end mb-2">
            <pagination-controls
              (pageChange)="p = $event"
              [nextLabel]="''"
              [previousLabel]="''"
            ></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->
</div>

<ng-template #mdDetalleSolicitudVale let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">Detalle solicitud de vehiculo</h5>

    <button
      type="button"
      class="btn-close"
      (click)="modal.dismiss('Cross click')"
      aria-hidden="true"
    ></button>
  </div>
  <div class="modal-body">
    <div *ngFor="let alert of alerts">
      <div
        class="alert alert-{{ alert.type }} alert-dismissible fade show"
        role="alert"
        *ngIf="alert.show"
      >
        <strong>{{
          alert.type === "info" ? "Importante!" : "Precaución!"
        }}</strong>
        {{ alert.message }}
        <button
          type="button"
          class="btn-close"
          (click)="CambiarAlert(alert)"
          aria-label="Close"
        ></button>
      </div>
    </div>
    <form
      id="formSoliVale"
      name="formSoliVale"
      (ngSubmit)="guardar()"
      [formGroup]="formularioSolicitudVale"
    >
      <div class="row mt-2">
        <div class="col-lg-6">
          <div class="row mb-4">
            <label for="formrow-firstname-input"
              >Cantidad de vales solicitados</label
            >
            <div class="col-sm-12">
              <input
                type="number"
                class="form-control"
                id="horizontal-firstname-input"
                min="1"
                max="20"
                placeholder="0"
                formControlName="cantidadVales"
                disabled
              />
            </div>
          </div>
          <div class="row mb-4">
            <label for="formrow-firstname-input">Fecha de Solicitud</label>
            <div class="col-sm-12">
              <input
                type="text"
                class="form-control"
                id="horizontal-firstname-input"
                placeholder=""
                disabled
                formControlName="fechaSolicitud"
              />
            </div>
          </div>
          <div class="row mb-4">
            <label for="formrow-firstname-input">Fecha de entrada</label>
            <div class="col-sm-12">
              <input
                type="text"
                class="form-control"
                id="horizontal-firstname-input"
                placeholder=""
                disabled
                formControlName="fechaEntrada"
              />
            </div>
          </div>
          <div class="row mb-4">
            <label for="formrow-firstname-input">Fecha de salida:</label>
            <div class="col-sm-12">
              <input
                type="text"
                class="form-control"
                id="horizontal-email-input"
                placeholder=""
                disabled
                formControlName="fechaSalida"
              />
            </div>
          </div>
          <!-- CANTIDAD DE PERSONAS -->

          <div class="row mb-4">
            <label for="formrow-firstname-input">Cantidad de Personas:</label>
            <div class="col-sm-12">
              <input
                type="text"
                class="form-control"
                id="horizontal-password-input"
                placeholder=""
                disabled
                formControlName="cantidadPersonas"
              />
            </div>
          </div>
          <div class="row mb-4">
            <label for="formrow-firstname-input">Motorista:</label>
            <div class="col-sm-12">
              <input
                type="text"
                class="form-control"
                id="horizontal-password-input"
                placeholder=""
                disabled
                formControlName="motorista"
              />
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="row mb-4">
            <label for="formrow-firstname-input">Unidad Solicitante:</label>
            <div class="col-sm-12">
              <input
                type="text"
                class="form-control"
                id="horizontal-password-input"
                placeholder=""
                disabled
                formControlName="unidadSolicitante"
              />
            </div>
          </div>
          <div class="row mb-4">
            <label for="formrow-firstname-input">Nombre de solicitante:</label>
            <div class="col-sm-12">
              <input
                type="text"
                class="form-control"
                id="horizontal-firstname-input"
                placeholder=""
                disabled
                formControlName="solicitante"
              />
            </div>
          </div>

          <div class="row mb-4">
            <label for="formrow-firstname-input">Misión:</label>
            <div class="col-sm-12">
              <input
                type="text"
                class="form-control"
                id="horizontal-password-input"
                placeholder=""
                disabled
                formControlName="mision"
              />
            </div>
          </div>
          <div class="row mb-4">
            <label for="formrow-firstname-input">Direccion:</label>
            <div class="col-sm-12">
              <input
                type="text"
                class="form-control"
                id="horizontal-password-input"
                placeholder=""
                disabled
                formControlName="direccion"
              />
            </div>
          </div>
          <!-- PLACA EL VAHICULO -->
          <div class="row mb-4">
            <label for="formrow-firstname-input">Placa de vehiculo:</label>
            <div class="col-sm-12">
              <input
                type="text"
                class="form-control"
                id="horizontal-password-input"
                placeholder=""
                disabled
                formControlName="placa"
              />
            </div>
          </div>
          <div class="row mb-4">
            <label for="formrow-firstname-input">Observación</label>
            <div class="col-sm-12">
              <textarea
                row="3"
                maxlength="750"
                class="form-control"
                placeholder="Comentario"
                formControlName="observacionRevision"
                [class]="esCampoValido('observacionRevision')"
              ></textarea>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <div class="btn-alerta miDiv" *ngIf="alerts">
      <i
        class="mdi mdi-lightbulb-on-outline custom-cursor"
        ngbTooltip="Mostrar Ayuda"
        *ngIf="!siMuestraAlertas()"
        (click)="restaurarAlerts()"
      ></i>
    </div>
    <button type="button" class="btn btn-success" (click)="aprobar()">
      Aprobar
    </button>
    <button type="submit" class="btn btn-warning" form="formSoliVale">
      Revisión
    </button>
    <button
      type="button"
      class="btn btn-light"
      (click)="modal.close('Close click')"
    >
      Cerrar
    </button>
    <!--<button type="button" class="btn btn-primary">Save changes</button>-->
  </div>
</ng-template>
