<div class="table-responsive mb-0">
  <table class="table table-centered table-nowrap">
    <thead class="table-light">
      <tr>
        <th class="align-middle">Factura</th>
        <th class="align-middle">Proveedor</th>
        <th class="align-middle">Fecha de compra</th>
        <th class="align-middle">Fecha ven. vale</th>
        <th class="align-middle">Descripción</th>
        <th class="align-middle">Cód. inicio</th>
        <th class="align-middle">Cód. fin</th>
        <th class="align-middle">Cantidad</th>
        <th class="align-middle">Prec. Unit.</th>
        <th class="align-middle">Total</th>
        <th class="align-middle text-center">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of compras  | filter : queryString | paginate : { itemsPerPage: 10, currentPage: p }; let i = index">
        <ng-container
          *ngIf="data.factura == null || data.factura == ''; else factura"
        >
          <td>
            <a class="text-body fw-bold"> N/A </a>
          </td>
        </ng-container>
        <ng-template #factura>
          <td>
            <a class="text-body fw-bold">
              {{ data.factura }}
            </a>
          </td>
        </ng-template>
        <td>{{ data.proveedor.nombre }}</td>
        <td>{{ data.fecha_compra | date : "dd/MM/yyyy h:mm a" }}</td>
        <td>{{ data.fecha_vencimiento | date : "dd/MM/yyyy" }}</td>
        <td>{{ data.descripcion }}</td>
        <td>{{ data.cod_inicio }}</td>
        <td>{{ data.cod_fin }}</td>
        <td>{{ data.cantidad }}</td>
        <td>
          {{ data.precio_unitario | currency : "USD" : "symbol" : "1.2-2" }}
        </td>
        <td>{{ data.total_compra | currency : "USD" : "symbol" : "1.2-2" }}</td>
        <td class="justify-content-center">
          <app-modal [compra]="data" [leyenda]="'Editar'"></app-modal>
        </td>
      </tr>

      <tr *ngIf="compras.length == 0">
        <td colspan="11" style="text-align: center">
          No hay datos para mostrar
        </td>
      </tr>
    </tbody>
  </table>

  <!-- ! PAGINACION -->
  <div class="pagination pagination-rounded justify-content-end mb-2">
    <pagination-controls (pageChange)="p = $event" [nextLabel]="''" [previousLabel]="''"></pagination-controls>
  </div>
</div>
<!-- end table -->
