<button
  type="button"
  class="btn btn-primary btn-sm btn-rounded boton-cuadrado mx-1"
  (click)="openModal(content, compra)"
  ngbTooltip="Ver Detalle"
>
  <i class="mdi mdi-18px mdi-eye-outline"></i>
</button>

<ng-template #content role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">
      Detalle de Compra de Vales
      {{
        compra.factura == "" || compra.factura == null
          ? "Sin Factura"
          : compra.factura
      }}
    </h5>
    <button
      type="button"
      class="btn-close"
      aria-hidden="true"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <div class="card text-center">
      <div class="card-header">
        Código inicio {{ compra.codInicio }} | Código fin {{ compra.codFin }}
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ compra.proveedor.nombre }}</h5>
        <p class="card-text">
          {{ compra.descripcion }}
        </p>
        <div class="search-box d-inline-block">
          <div class="position-relative">
            <input
              type="text"
              class="form-control"
              placeholder="Buscar Vale..."
              [(ngModel)]="queryVale"
            />
            <i class="bx bx-search-alt search-icon"></i>
          </div>
        </div>
      </div>
      <div class="card-footer text-muted">
        Fecha de vencimiento {{ compra.fechaVencimiento | date : "dd/MM/yyyy" }}
      </div>
    </div>
    <div class="row">
      <div
        class="col-sm-3"
        *ngFor="let data of listVale | filter : queryVale; let i = index"
      >
        <div class="card">
          <div class="card-header">
            {{ data.correlativo }}
          </div>
          <div class="card-body">
            <h5>
              <span [ngClass]="getClassOf(data.estado)">
                {{ estadoNombre(data.estado) }}</span
              >
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer custom-modal">
    <button class="btn btn-dark w-sm" (click)="modal.close('Close click')">
      Cerrar
    </button>
  </div>
</ng-template>
