<button
  type="button"
  class="btn btn-rounded"
  [ngClass]="getClassOf()"
  (click)="openModal(content, compra)"
  [innerHTML]="getIconsOf()"
>
  {{ leyenda }}
</button>

<ng-template #content role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">{{ leyenda }} compra de vales</h5>
    <div class="btn-alerta" *ngIf="alerts">
      <i
        class="mdi mdi-18px mdi-lightbulb-on-outline custom-cursor"
        ngbTooltip="Mostrar Ayuda"
        *ngIf="!siMuestraAlertas()"
        (click)="restaurarAlerts()"
      ></i>
    </div>
    <button
      type="button"
      class="btn-close"
      aria-hidden="true"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <div *ngFor="let alert of alerts">
      <div
        class="alert alert-{{ alert.type }} alert-dismissible fade show"
        role="alert"
        *ngIf="alert.show"
      >
        <strong>{{
          alert.type === "info" ? "Importante!" : "Precaución!"
        }}</strong>
        {{ alert.message }}
        <button
          type="button"
          class="btn-close"
          (click)="CambiarAlert(alert)"
          aria-label="Close"
        ></button>
      </div>
    </div>

    <form
      id="formCompra"
      name="formCompra"
      (ngSubmit)="guardar()"
      [formGroup]="formularioGeneral"
    >
      <div class="row">
        <div *ngIf="compra?.id">
          <input
            id="id"
            name="id"
            type="hidden"
            readonly="true"
            class="form-control"
            formControlName="id"
          />
        </div>
        <div class="mb-4 col-md-6">
          <label for="proveedor"
            >Proveedor: <span class="text-danger">*</span></label
          >

          <ng-select
            formControlName="proveedor"
            placeholder="Escriba o seleccione"
            [selectOnTab]="true"
            labelForId="proveedor"
            [class]="esCampoValido('proveedor')"
          >
            <ng-option *ngFor="let x of listProveedor" [value]="x.id">{{
              x.nombre
            }}</ng-option>
          </ng-select>

          <div class="invalid-feedback">
            <span
              *ngIf="formularioGeneral.get('proveedor')?.errors?.['required']"
            >
              Requiere un proveedor</span
            >
          </div>
        </div>
        <div class="mb-4 col-md-6">
          <label for="factura"
            >Factura: <span class="text-danger">*</span></label
          >
          <input
            id="factura"
            name="factura"
            maxlength="100"
            type="text"
            class="form-control"
            placeholder="Factura"
            formControlName="factura"
            [class]="esCampoValido('factura')"
          />
          <div class="invalid-feedback">
            <span
              *ngIf="formularioGeneral.get('factura')?.errors?.['required']"
            >
              Requiere una factura</span
            >
          </div>
        </div>
        <div class="mb-4 col-md-6">
          <label for="cod_inicio"
            >Código de inicio: <span class="text-danger">*</span></label
          >
          <input
            id="cod_inicio"
            name="cod_inicio"
            type="number"
            min="0"
            class="form-control"
            formControlName="cod_inicio"
            placeholder="Código inicio"
            [class]="esCampoValido('cod_inicio')"
            (keyup)="getcantidad()"
            [readonly]="aplicarReadOnly"
          />
          <div class="invalid-feedback">
            <span
              *ngIf="formularioGeneral.get('cod_inicio')?.errors?.['required']"
            >
              Requiere un código de inicio</span
            >
            <span *ngIf="formularioGeneral.get('cod_inicio')?.errors?.['min']">
              Código de inicio no puede ser negativo</span
            >

            <span
              *ngIf="formularioGeneral.get('cod_inicio')?.errors?.['pattern']"
            >
              Solamente se permiten numeros enteros
            </span>
          </div>
        </div>
        <div class="mb-4 col-md-6">
          <label for="cod_fin"
            >Código de fin: <span class="text-danger">*</span></label
          >
          <input
            id="cod_fin"
            name="cod_inicio"
            type="number"
            class="form-control"
            formControlName="cod_fin"
            min="0"
            placeholder="Código de fin"
            [class]="esCampoValido('cod_fin')"
            (keyup)="getcantidad()"
            [readonly]="aplicarReadOnly"
          />
          <div class="invalid-feedback">
            <span
              *ngIf="formularioGeneral.get('cod_fin')?.errors?.['required']"
            >
              Requiere un código de fin</span
            >
            <span *ngIf="formularioGeneral.get('cod_fin')?.errors?.['min']">
              Código de fin no puede ser negativo</span
            >

            <span *ngIf="formularioGeneral.get('cod_fin')?.errors?.['pattern']">
              Solamente se permiten numeros enteros</span
            >
          </div>
        </div>
        <div class="mb-4 col-md-6">
          <label for="cantidad">Cantidad de vales:</label>
          <input
            id="cantidad"
            name="cantidad"
            type="text"
            readonly="true"
            class="form-control"
            formControlName="cantidad"
            placeholder="Cantidad"
            [class]="esCampoValido('cantidad')"
          />
          <div class="invalid-feedback">
            <!-- aqui la validación-->
            <span
              *ngIf="formularioGeneral.get('cantidad')?.errors?.['required']"
            >
              Requiere una cantidad</span
            >
            <span *ngIf="formularioGeneral.get('cantidad')?.errors?.['min']">
              Cantidad no puede ser negativa</span
            >
            <span
              *ngIf="formularioGeneral.get('cantidad')?.errors?.['pattern']"
            >
              Solamente se permiten numeros enteros</span
            >
          </div>
        </div>
        <div class="mb-4 col-md-6">
          <label for="fecha_compra"
            >Fecha de compra: <span class="text-danger">*</span></label
          >
          <input
            id="fecha_compra"
            name="fecha_compra"
            type="datetime-local"
            placeholder="dd/MM/yyyy HH:mm"
            class="form-control"
            formControlName="fecha_compra"
            [class]="esCampoValido('fecha_compra')"
            [readonly]="aplicarReadOnly"
          />
          <div class="invalid-feedback">
            <!-- aqui la validación-->
            <span
              *ngIf="formularioGeneral.get('fecha_compra')?.errors?.['required']"
            >
              Requiere una fecha de compra</span
            >
            <span
              *ngIf="formularioGeneral.get('fecha_compra')?.errors?.['pattern']"
            >
              Fecha no valida</span
            >
          </div>
        </div>
        <div class="mb-4 col-md-6">
          <label for="fecha_vencimiento"
            >Fecha de vencimiento de vales: <span class="text-danger"
              >*</span
            ></label
          >
          <input
            id="fecha_vencimiento"
            name="fecha_vencimiento"
            type="date"
            placeholder="dd/MM/yyyy"
            class="form-control"
            formControlName="fecha_vencimiento"
            [class]="esCampoValido('fecha_vencimiento')"
            [readonly]="aplicarReadOnly"
          />
          <div class="invalid-feedback">
            <!-- aqui la validación-->
            <span
              *ngIf="formularioGeneral.get('fecha_vencimiento')?.errors?.['required']"
            >
              Requiere una fecha de vencimiento</span
            >
            <span
              *ngIf="formularioGeneral.get('fecha_vencimiento')?.errors?.['pattern']"
            >
              Fecha no valida</span
            >
          </div>
        </div>
        <div class="mb-4 col-md-6">
          <label for="precio_unitario"
            >Precio unitario ($): <span class="text-danger">*</span></label
          >
          <input
            id="precio_unitario"
            name="precio_unitario"
            type="number"
            min="0"
            class="form-control"
            placeholder="Precio unitario"
            formControlName="precio_unitario"
            [class]="esCampoValido('precio_unitario')"
            (keyup)="getTotalCompra()"
            [readonly]="aplicarReadOnly"
          />
          <div class="invalid-feedback">
            <!-- aqui la validación-->
            <span
              *ngIf="formularioGeneral.get('precio_unitario')?.errors?.['required']"
            >
              Precio unitario requerido.</span
            >
            <span
              *ngIf="formularioGeneral.get('precio_unitario')?.errors?.['min']"
            >
              Precio unitario no puede ser negativo</span
            >
            <span
              *ngIf="formularioGeneral.get('precio_unitario')?.errors?.['pattern']"
            >
              Solamente se permiten numeros con dos decimales</span
            >
          </div>
        </div>
        <div class="mb-4 col-md-6">
          <label for="total_compra">Total compra ($):</label>
          <input
            id="total_compra"
            name="total_compra"
            type="text"
            readonly="true"
            class="form-control"
            formControlName="total_compra"
            placeholder="Total compra"
            [class]="esCampoValido('total_compra')"
          />
          <div class="invalid-feedback">
            <!-- aqui la validación-->
            <span
              *ngIf="formularioGeneral.get('total_compra')?.errors?.['required']"
            >
              Requiere un total de compra</span
            >
            <span
              *ngIf="formularioGeneral.get('total_compra')?.errors?.['min']"
            >
              Total compra no puede ser negativo</span
            >
            <span
              *ngIf="formularioGeneral.get('total_compra')?.errors?.['pattern']"
            >
              Solamente se permiten numeros con dos decimales</span
            >
          </div>
        </div>
        <div class="mb-4 col-md-6">
          <label for="descripcion"
            >Descripción: <span class="text-danger">*</span></label
          >
          <textarea
            row="3"
            maxlength="750"
            class="form-control"
            placeholder="Descripción"
            formControlName="descripcion"
            [class]="esCampoValido('descripcion')"
          ></textarea>
          <div class="invalid-feedback">
            <span
              *ngIf="formularioGeneral.get('descripcion')?.errors?.['required']"
            >
              Requiere una descripción</span
            >

            <span
              *ngIf="formularioGeneral.get('descripcion').hasError('minlength')"
            >
              Digite más de 2 caracteres
            </span>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer custom-modal">
    <button class="btn btn-primary w-sm me-2" type="submit" form="formCompra">
      {{ leyenda !== "Editar" ? "Guardar" : "Modificar" }}
    </button>
    <button class="btn btn-dark w-sm" (click)="modal.close('Close click')">
      {{ leyenda !== "Editar" ? "Cerrar" : "Cancelar" }}
    </button>
  </div>
</ng-template>
