<app-loader></app-loader>
<app-page-title
  title="Vales Asignados"
  [breadcrumbItems]="breadCrumbItems"
></app-page-title>
<div class="col-12">
  <div class="card">
    <div class="card-body">
      <div class="row mb-1">
        <h2 class="card-title"></h2>
        <h4 class="card-title-desc">Registro de Asignaciones</h4>
        <div class="col-sm-4">
          <div class="search-box me-2 mb-2 d-inline-block">
            <div class="position-relative">
              <input type="text" class="form-control" placeholder="Buscar..." [(ngModel)]="term"/>
              <i class="bx bx-search-alt search-icon"></i>
            </div>
          </div>
        </div>
        <div class="table-responsive mb-0">
          <table class="table table-centered table-nowrap">
            <thead class="table-light">
              <tr>
                <th scope="col" class="align-middle text-center">No.</th>
                <th scope="col" class="align-middle text-center">Fecha</th>
                <th scope="col" class="align-middle text-center">Misión</th>
                <th scope="col" class="align-middle text-center">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr class="align-middle text-center">
                <td>
                  <a href="javascript: void(0);" class="text-body fw-bold">
                    1
                  </a>
                </td>
                <td>15/08/2023</td>
                <td>Salida UES Central, estudiantes Profesorado</td>
                <td class="d-flex justify-content-center gap-1">
                  <button class="btn btn-danger btn-sm btn-rounded">
                    <i class="bi bi-eye"></i>
                    Detalles
                  </button>
                </td>
                <!--  *ngFor="
                  let data of salidas
                    | paginate : { itemsPerPage: 10, currentPage: p };
                  let i = index
                "
                <td>
                  <a href="javascript: void(0);" class="text-body fw-bold">{{
                    i + 1
                  }}</a>
                </td>
                <td>
                  No. {{ data.venta.id }} -
                  {{ data.venta.fechaVenta | date : "dd/MM/yyyy" }}
                </td>
                <td>
                  {{ data.vehiculo.marca }} / {{ data.vehiculo.modelo }} ({{
                    data.vehiculo.placa
                  }}) [{{ data.vehiculo.anio | date : "yyyy" }}]
                </td>
                <td>
                  {{ data.municipio.nombre }} ({{ data.municipio.zona.nombre }})
                </td>
                <td class="d-flex justify-content-center gap-1">
                  <Button trigger modal
                  <app-modal [salida]="data" [leyenda]="'Editar'"></app-modal>
                  <button
                    (click)="eliminar(data)"
                    class="btn btn-danger btn-sm btn-rounded"
                  >
                    <i class="bi bi-trash"></i>
                  </button>
                </td>-->
              </tr>
            </tbody>
          </table>

          <!-- ! PAGINACION
          <div class="pagination pagination-rounded justify-content-end mb-2">
            <pagination-controls
              (pageChange)="p = $event"
            ></pagination-controls>
          </div>-->
        </div>
        <!-- end table -->
      </div>
    </div>
  </div>
</div>
