<div class="account-pages my-5 pt-sm-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card overflow-hidden">
          <div class="bg-soft bg-primary">
            <div class="row">
              <div class="col-6">
                <div class="text-primary p-2" style="margin-top: 30px; margin-left: 1px;">
                  <h5 class="text-primary">Restablecer contraseña</h5>
                  <p>Obtener código de acceso</p>
                </div>
              </div>
              <div class="col-5 align-self-end">
                <img src="./../../../../assets/images/reset-pass.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="card-body pt-0">
            <div class="rount-image">
              <a routerLink="/">
                <div class="avatar-md profile-user-wid mb-4">
                  <span class="avatar-title rounded-circle bg-light">
                    <img src="assets/images/logo-sm.png" alt="" height="60">
                  </span>
                </div>
              </a>
            </div>

            <form class="needs-validation" name="resetForm" [formGroup]="resetForm" (ngSubmit)="onSubmit()" novalidate>

              <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</ngb-alert>

              <div class="mb-3">
                <label for="correo">Correo electronico :</label>

                <input type="correo" formControlName="correo" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.correo.errors }" id="correo" placeholder="Ingrese Correo electronico" />

                <div *ngIf="submitted && f.correo.errors" class="invalid-feedback">
                  <div *ngIf="f.correo.errors.required">correo is required</div>
                  <div *ngIf="f.correo.errors.correo">correo must be a valid correo address</div>
                </div>
              </div>

              <div class="mb-3">
                <label for="dui">DUI :</label>

                <input type="dui" formControlName="dui" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.dui.errors }" id="dui" name="dui" placeholder="Ingrese DUI" />

                <div *ngIf="submitted && f.dui.errors" class="invalid-feedback">
                  <div *ngIf="f.dui.errors.required">dui is required</div>
                  <div *ngIf="f.dui.errors.dui">dui must be a valid dui address</div>
                </div>
              </div>
              
              <div>
                <button class="btn btn-primary w-md" type="submit" style="float: left;"><a routerLink="/account/login">Regresar</a></button>
                <button class="btn btn-primary w-md" type="submit" style="float: right;">Verificar</button>
                <div style="clear: both;"></div>
              </div>
              
            </form>

          </div> <!-- end card-body-->
        </div>
        <!-- end card -->
<!--         <div class="mt-5 text-center">
          <p>Remember It ? <a routerLink="/account/login" class="fw-medium text-primary"> Sign In here</a> </p>
          <p>© {{year}} Skote. Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesbrand</p>
        </div> -->

      </div> <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end page -->

