<div class="account-pages my-5 pt-sm-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card overflow-hidden">
          <div class="bg-soft bg-primary">
            <div class="row">
              <div class="col-6">
                <div class="text-primary p-2" style="margin-top: 30px; margin-left: 1px;">
                  <h5 class="text-primary">Restablecer contraseña</h5>
                  <p>{{code ? 'Ingresar código' : resetpass ? 'Ingresar nueva clave' : 'Obtener código de acceso'}}</p>
                </div>
              </div>
              <div class="col-5 align-self-end">
                <img
                  [src]="code ? './../../../../assets/images/securityOn.png' :  resetpass ? './../../../../assets/images/resetpassword.png' : './../../../../assets/images/reset-pass.png'"
                  alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="card-body pt-0">
            <div class="rount-image">
              <a routerLink="/">
                <div class="avatar-md profile-user-wid mb-4">
                  <span class="avatar-title rounded-circle bg-light">
                    <img src="assets/images/logo-sm.png" alt="" height="60">
                  </span>
                </div>
              </a>
            </div>

            <form class="needs-validation" name="resetForm" [formGroup]="resetForm" (ngSubmit)="onSubmit()" novalidate>

              <div *ngIf="!code && !resetpass">
                <div class="mb-3">
                  <label for="correo">Correo electrónico :</label>

                  <input type="correo" formControlName="correo" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.correo.errors }" id="correo"
                    placeholder="Ingrese Correo electrónico" />

                  <!--   <div *ngIf="submitted && f.correo.errors" class="invalid-feedback">
                  <div *ngIf="f.correo.errors.required">correo is required</div>
                  <div *ngIf="f.correo.errors.correo">correo must be a valid correo address</div>
                </div> -->
                </div>

                <div class="mb-3">
                  <label for="dui">DUI :</label>

                  <input type="dui" formControlName="dui" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.dui.errors }" id="dui" name="dui"
                    placeholder="Ingrese DUI" />

                  <!--       <div *ngIf="submitted && f.dui.errors" class="invalid-feedback">
                  <div *ngIf="f.dui.errors.required">dui is required</div>
                  <div *ngIf="f.dui.errors.dui">dui must be a valid dui address</div>
                </div> -->
                </div>
              </div>


              <div *ngIf="code && !resetpass">
                <div class="container-code">
                  <label for="digit1">Ingrese el código</label>
                  <div class="code-input">
                    <input type="text" id="digit1" maxlength="1" (keyup)="focusNext($event, 'digit2')" />
                    <input type="text" id="digit2" maxlength="1" (keyup)="focusNext($event, 'digit3')" />
                    <input type="text" id="digit3" maxlength="1" (keyup)="focusNext($event, 'digit4')" />
                    <input type="text" id="digit4" maxlength="1" (keyup)="focusNext($event, 'digit5')" />
                    <input type="text" id="digit5" maxlength="1" />
                  </div>
                </div>
              </div>

              <div *ngIf="resetpass && !code">
                <!-- inicio de clave Empleado -->
                <div class="form-group row m-4">
                  <label class="control-label">Clave :
                    <span class="text-danger">*</span>
                    <span class="msjclave" [ngClass]="seguridad">{{msjclave}}</span>
                  </label>
                  <div class="input-group auth-pass-inputgroup">
                    <input [type]="showPassword ? 'text' : 'password'" type="password" formControlName="clave"
                      class="form-control" id="clave" name="clave" placeholder="Ingrese clave"
                      (input)="SeguridadClave($event)" />

                    <button class="btn btn-light ms-0" type="button" id="password-addon"
                      (click)="togglePasswordVisibility()"><i class="mdi mdi-eye-outline"></i></button>
                  </div>
                </div>
                <!-- fin de clave Empleado -->

                <!-- inicio de confirclave Empleado -->
                <div class="form-group row m-4">
                  <label class="control-label">Confirmar Clave :
                    <span class="text-danger">*</span>
                    <span class="msjclave" [ngClass]="confirma">{{msjclaveconfir}}</span>
                  </label>
                  <div class="input-group auth-pass-inputgroup">
                    <input [type]="showPassword2 ? 'text' : 'password'" type="password" class="form-control"
                      id="confirclave" name="confirclave" placeholder="Confirme la Clave"
                      (input)="VerificarClaves($event)" />

                    <button class="btn btn-light ms-0" type="button" id="password-addon"
                      (click)="togglePasswordVisibility2()"><i class="mdi mdi-eye-outline"></i></button>
                  </div>
                </div>
                <!-- fin de apellido Empleado -->
              </div>

              <div>
                <button class="btn btn-primary w-md" type="submit" routerLink="/account/login"
                  style="float: left;">Regresar</button>
                <button class="btn btn-primary w-md" type="submit" style="float: right;">{{resetpass ? 'Cambiar':'Verificar'}}</button>
                <div style="clear: both;"></div>
              </div>

            </form>

          </div> <!-- end card-body-->
        </div>
        <!-- end card -->
        <!--         <div class="mt-5 text-center">
          <p>Remember It ? <a routerLink="/account/login" class="fw-medium text-primary"> Sign In here</a> </p>
          <p>© {{year}} Skote. Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesbrand</p>
        </div> -->

      </div> <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end page -->