.container-code {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px; 
    border: 1px solid #d7d7d7; 
    padding: 10px;
  }
  
  .code-input {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .code-input input {
    width: 30px; /* Establece el ancho máximo de un solo dígito */
    height: 30px;
    font-size: 18px; /* Tamaño de fuente para ajustar al ancho */
    text-align: center;
    margin: 0 5px; /* Espacio entre los campos de entrada */
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .button-code {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }


  
.msjclave {
  display: inline-block;
  margin-left: 5px;
  font-size: 12px;
}

.alta {
  color: green;
}

.media {
  color: orange;
}

.baja {
  color: red;
}

.confirmada {
  color: rgb(10, 10, 192);
}

.errorclave {
  color: red;
}
  