<app-loader></app-loader>
<div class="container-fluid">
  <app-page-title
    title="Solicitudes de Vales de Combustible"
    [breadcrumbItems]="breadCrumbItems"
  ></app-page-title>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="row mb-2">
            <div class="col-sm-4">
              <div class="search-box me-2 mb-2 d-inline-block">
                <div class="position-relative">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Buscar"
                    [(ngModel)]="term"
                  />
                  <i class="bx bx-search-alt search-icon"></i>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <select
                  class="form-control"
                  id="exampleCombobox"
                  [(ngModel)]="filtroEstado"
                >
                  <option value="">filtro por estado</option>
                  <option value="Aprobada">Aprobado</option>
                  <option value="Por aprobar">Por Aprobar</option>
                  <option value="En espera">En espera</option>
                </select>
              </div>
            </div>
          </div>

          <table class="table">
            <thead>
              <tr>
                <th>Solicitante</th>
                <th>Mision</th>
                <th>Motorista</th>
                <th>Fecha de Uso</th>
                <th>Estado</th>
                <th style="text-align: center">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let item of filteredItems3()
                    | filter : term
                    | paginate : { itemsPerPage: 10, currentPage: p }
                "
              >
                <td>
                  {{
                    item.solicitante.empleado?.nombre +
                      " " +
                      item.solicitante.empleado?.apellido
                  }}
                </td>
                <td>{{ item.lugarMision }}</td>

                <td>{{ item.motorista?.nombre + " " + item.motorista?.apellido }}</td>
                <td>
                  {{ item.fechaSalida }}
                </td>
                <td>
                  <h5>
                    <span
                      [class]="
                        item.estadoString == 'Aprobada'
                          ? 'badge rounded-pill bg-success'
                          : item.estadoString == 'Asignado'
                          ? 'badge rounded-pill bg-info'
                          : item.estadoString == 'Finalizada'
                          ? 'badge rounded-pill bg-primary'
                          : item.estadoString == 'En espera por jefe'
                          ? 'badge rounded-pill bg-warning'
                          : item.estadoString == 'Anulada'
                          ? 'badge rounded-pill bg-secondary'
                          : ''
                      "
                    >
                      {{ item.estadoString }}
                    </span>
                  </h5>
                </td>
                <td style="text-align: center">
                  <button
                    *ngIf="item.estadoString == 'Aprobada'"
                    type="button"
                    class="btn btn-primary btn-sm btn-rounded mx-1"
                    (click)="largeModal(largeDataModalvale, item)"
                    ngbTooltip="Asignar Vales"
                  >
                    <i class="mdi mdi-18px mdi-book-plus-outline"></i>
                  </button>

                  <button
                    *ngIf="item.estadoString == 'Asignado'"
                    type="button"
                    class="btn btn-info btn-sm btn-rounded mx-1"
                    (click)="liquidarVales(item)"
                    ngbTooltip="Liquidar"
                  >
                  <i class="mdi mdi-18px mdi-application-import"></i>
                  </button>
                  <button
                    *ngIf="item.estadoString == 'Activo'"
                    type="button"
                    class="btn btn-primary btn-sm btn-rounded mx-1"
                    (click)="largeModal(largeDataModaldetalle, item)"
                    ngbTooltip="Detalle"
                  >
                  <i class="mdi mdi-18px mdi-eye-outline"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="pagination pagination-rounded justify-content-end mb-2">
            <pagination-controls
              (pageChange)="p = $event"
              [nextLabel]="''"
              [previousLabel]="''"
            ></pagination-controls>
          </div>
          <div class="col-sm-12 col-md-5">
            <button
              type="submit"
              (click)="exportToExcel()"
              class="btn btn-primary w-md"
            >
              Generar Excel
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->
</div>

<!-- Large Modal -->
<ng-template #largeDataModalnuevo let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">Nueva Solicitud de Vehiculo</h5>
    <button
      type="button"
      class="btn-close"
      (click)="modal.dismiss('Cross click')"
      aria-hidden="true"
    ></button>
  </div>
  <div class="modal-body">
    <div class="row mt-2">
      <div class="col-lg-6">
        <div class="row mb-4">
          <label for="formrow-firstname-input">Tipo de Vehiculo:</label>
          <div class="col-sm-12">
            <input
              type="number"
              class="form-control"
              id="horizontal-firstname-input"
              placeholder="Camion"
            />
          </div>
        </div>
        <div class="row mb-4">
          <label for="formrow-firstname-input">Fecha de uso:</label>
          <div class="col-sm-12">
            <input
              type="date"
              class="form-control"
              id="horizontal-email-input"
              placeholder="08-08-2023"
            />
          </div>
        </div>
        <div class="row mb-4">
          <label for="formrow-firstname-input">Institucion:</label>
          <div class="col-sm-12">
            <input
              type="number"
              class="form-control"
              id="horizontal-password-input"
              placeholder="ues central"
            />
          </div>
        </div>
        <div class="row mb-4">
          <label for="formrow-firstname-input">Departamento:</label>
          <div class="col-sm-12">
            <div class="form-group">
              <!--<label for="exampleCombobox">filtro por estado:</label>-->
              <select class="form-control" id="exampleCombobox">
                <option value="">La paz</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row mb-4">
          <label for="formrow-firstname-input">Ciudad:</label>
          <div class="col-sm-12">
            <div class="form-group">
              <!--<label for="exampleCombobox">filtro por estado:</label>-->
              <select class="form-control" id="exampleCombobox">
                <option value="">Santiago Nonuealco</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row mb-4">
          <label for="formrow-firstname-input">Claca de vehiculo:</label>
          <div class="col-sm-12">
            <div class="form-group">
              <!--<label for="exampleCombobox">filtro por estado:</label>-->
              <select class="form-control" id="exampleCombobox">
                <option value="">P374-488</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row mb-4">
          <label for="formrow-firstname-input">Objetivo:</label>
          <div class="col-sm-12">
            <input
              type="number"
              class="form-control"
              id="horizontal-email-input"
              placeholder="Objetivo 1"
            />
          </div>
        </div>
        <div class="row mb-4">
          <label for="formrow-firstname-input">Cantidad de personas:</label>
          <div class="col-sm-12">
            <input
              type="number"
              class="form-control"
              id="horizontal-password-input"
              placeholder="5"
            />
          </div>
        </div>
        <div class="row mb-4">
          <label for="formrow-firstname-input">Municipio:</label>
          <div class="col-sm-12">
            <div class="form-group">
              <!--<label for="exampleCombobox">filtro por estado:</label>-->
              <select class="form-control" id="exampleCombobox">
                <option value="">Santiago Nonualco</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-light"
      (click)="modal.close('Close click')"
    >
      Cancelar
    </button>
    <button type="button" class="btn btn-primary">Soliciar</button>
  </div>
</ng-template>

<!-- Large Modal -->
<ng-template #largeDataModaldetalle let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">Detalle solicitud de vehiculo</h5>
    <button
      type="button"
      class="btn-close"
      (click)="modal.dismiss('Cross click')"
      aria-hidden="true"
    ></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formularioSolicitudVale">
      <div class="row mt-2">
        <div class="col-lg-6">
          <div class="row mb-4">
            <label for="formrow-firstname-input">Fecha de solidad</label>
            <div class="col-sm-12">
              <input
                type="text"
                class="form-control"
                id="horizontal-firstname-input"
                placeholder=""
                disabled
                formControlName="fechaSolicitud"
              />
            </div>
          </div>
          <div class="row mb-4">
            <label for="formrow-firstname-input">Fecha de entrada</label>
            <div class="col-sm-12">
              <input
                type="text"
                class="form-control"
                id="horizontal-firstname-input"
                placeholder=""
                disabled
                formControlName="fechaEntrada"
              />
            </div>
          </div>
          <div class="row mb-4">
            <label for="formrow-firstname-input">Fecha de solida:</label>
            <div class="col-sm-12">
              <input
                type="text"
                class="form-control"
                id="horizontal-email-input"
                placeholder=""
                disabled
                formControlName="fechaSalida"
              />
            </div>
          </div>
          <div class="row mb-4">
            <label for="formrow-firstname-input">Tipo de vehiculo:</label>
            <div class="col-sm-12">
              <input
                type="text"
                class="form-control"
                id="horizontal-password-input"
                placeholder=""
                disabled
                formControlName="tipo"
              />
            </div>
          </div>
          <div class="row mb-4">
            <label for="formrow-firstname-input">Lugar:</label>
            <div class="col-sm-12">
              <input
                type="text"
                class="form-control"
                id="horizontal-password-input"
                placeholder=""
                disabled
                formControlName="lugarMision"
              />
            </div>
          </div>
          <div class="row mb-4">
            <label for="formrow-firstname-input">Estado:</label>
            <div class="col-sm-12">
              <input
                type="text"
                class="form-control"
                id="horizontal-password-input"
                placeholder=""
                disabled
                formControlName="estado"
              />
            </div>
          </div>
          <div class="row mb-4">
            <label for="formrow-firstname-input">Motorista:</label>
            <div class="col-sm-12">
              <input
                type="text"
                class="form-control"
                id="horizontal-password-input"
                placeholder=""
                disabled
                formControlName="motorista"
              />
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="row mb-4">
            <label for="formrow-firstname-input">Nombre de solicitante:</label>
            <div class="col-sm-12">
              <input
                type="text"
                class="form-control"
                id="horizontal-firstname-input"
                placeholder=""
                disabled
                formControlName="solicitante"
              />
            </div>
          </div>
          <div class="row mb-4">
            <label for="formrow-firstname-input">Objetivo:</label>
            <div class="col-sm-12">
              <input
                type="text"
                class="form-control"
                id="horizontal-email-input"
                placeholder=""
                disabled
                formControlName="objetivoMision"
              />
            </div>
          </div>
          <div class="row mb-4">
            <label for="formrow-firstname-input">Placa de vehiculo:</label>
            <div class="col-sm-12">
              <input
                type="text"
                class="form-control"
                id="horizontal-password-input"
                placeholder=""
                disabled
                formControlName="placa"
              />
            </div>
          </div>
          <div class="row mb-4">
            <label for="formrow-firstname-input">Cantidad de Personas:</label>
            <div class="col-sm-12">
              <input
                type="text"
                class="form-control"
                id="horizontal-password-input"
                placeholder=""
                disabled
                formControlName="cantidadPersonas"
              />
            </div>
          </div>
          <div class="row mb-4">
            <label for="formrow-firstname-input">Direccion:</label>
            <div class="col-sm-12">
              <input
                type="text"
                class="form-control"
                id="horizontal-password-input"
                placeholder=""
                disabled
                formControlName="direccion"
              />
            </div>
          </div>
          <div class="row mb-4">
            <label for="formrow-firstname-input">Unidad Solicitante:</label>
            <div class="col-sm-12">
              <input
                type="text"
                class="form-control"
                id="horizontal-password-input"
                placeholder=""
                disabled
                formControlName="unidadSolicitante"
              />
            </div>
          </div>
          <div class="row mb-4">
            <label for="formrow-firstname-input"
              >Nombre de jefe departamento:</label
            >
            <div class="col-sm-12">
              <input
                type="text"
                class="form-control"
                id="horizontal-password-input"
                placeholder=""
                disabled
                formControlName="nombreJefeDepto"
              />
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-light"
      (click)="modal.close('Close click')"
    >
      Close
    </button>
    <!--<button type="button" class="btn btn-primary">Save changes</button>-->
  </div>
</ng-template>

<!-- Large Modal -->
<ng-template #largeDataModalvale let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">Detalle de la solicitud de Vales</h5>
    <button
      type="button"
      class="btn-close"
      (click)="modal.dismiss('Cross click')"
      aria-hidden="true"
    ></button>
  </div>
  <div class="modal-body">
    <form
      action=""
      [formGroup]="formularioSolicitudValev"
      id="formSoliVale"
      name="formSoliVale"
      (ngSubmit)="guardar()"
    >
      <div class="row mt-2">
        <div class="col-lg-6">
          <div class="row mb-4">
            <label for="formrow-firstname-input"
              >Cantidad de vales
              <span
                [class]="
                  existenciaI.valesDisponibles <= 5
                    ? 'text-danger'
                    : 'text-info'
                "
                >Vales Disponibles: {{ existenciaI.valesDisponibles }}
              </span></label
            >

            <div class="col-sm-6">
              <input
                type="number"
                class="form-control"
                id="horizontal-firstname-input"
                min="1"
                max="20"
                placeholder="0"
                formControlName="cantidadVales"
                [class]="esCampoValido('cantidadVales')"
              />
            </div>
            <div class="col-sm-4">
              <button
                type="button"
                class="btn btn-primary btn-sm btn-rounded boton-cuadrado mx-1"
                (click)="valesAsignar(valesAsignarModal)"
                ngbTooltip="Ver Vales">
              <i class="mdi mdi-18px mdi-eye-outline"></i>
              </button>
            </div>
          </div>
          <div class="row mb-4">
            <label for="formrow-firstname-input">Fecha de solidad</label>
            <div class="col-sm-12">
              <input
                type="text"
                class="form-control"
                id="horizontal-firstname-input"
                placeholder=""
                disabled
                formControlName="fechaSolicitud"
              />
            </div>
          </div>
          <div class="row mb-4">
            <label for="formrow-firstname-input">Fecha de entrada</label>
            <div class="col-sm-12">
              <input
                type="text"
                class="form-control"
                id="horizontal-firstname-input"
                placeholder=""
                disabled
                formControlName="fechaEntrada"
              />
            </div>
          </div>
          <div class="row mb-4">
            <label for="formrow-firstname-input">Fecha de solida:</label>
            <div class="col-sm-12">
              <input
                type="text"
                class="form-control"
                id="horizontal-email-input"
                placeholder=""
                disabled
                formControlName="fechaSalida"
              />
            </div>
          </div>
          <div class="row mb-4">
            <label for="formrow-firstname-input">Tipo de vehiculo:</label>
            <div class="col-sm-12">
              <input
                type="text"
                class="form-control"
                id="horizontal-password-input"
                placeholder=""
                disabled
                formControlName="tipo"
              />
            </div>
          </div>
          <div class="row mb-4">
            <label for="formrow-firstname-input">Lugar:</label>
            <div class="col-sm-12">
              <input
                type="text"
                class="form-control"
                id="horizontal-password-input"
                placeholder=""
                disabled
                formControlName="lugarMision"
              />
            </div>
          </div>
          <div class="row mb-4">
            <label for="formrow-firstname-input">Estado:</label>
            <div class="col-sm-12">
              <input
                type="text"
                class="form-control"
                id="horizontal-password-input"
                placeholder=""
                disabled
                formControlName="estado"
              />
            </div>
          </div>
          <div class="row mb-4">
            <label for="formrow-firstname-input">Motorista:</label>
            <div class="col-sm-12">
              <input
                type="text"
                class="form-control"
                id="horizontal-password-input"
                placeholder=""
                disabled
                formControlName="motorista"
              />
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="row mb-4">
            <label for="formrow-firstname-input">Nombre de solicitante:</label>
            <div class="col-sm-12">
              <input
                type="text"
                class="form-control"
                id="horizontal-firstname-input"
                placeholder=""
                disabled
                formControlName="solicitante"
              />
            </div>
          </div>
          <div class="row mb-4">
            <label for="formrow-firstname-input">Objetivo:</label>
            <div class="col-sm-12">
              <input
                type="text"
                class="form-control"
                id="horizontal-email-input"
                placeholder=""
                disabled
                formControlName="objetivoMision"
              />
            </div>
          </div>
          <div class="row mb-4">
            <label for="formrow-firstname-input">Placa de vehiculo:</label>
            <div class="col-sm-12">
              <input
                type="text"
                class="form-control"
                id="horizontal-password-input"
                placeholder=""
                disabled
                formControlName="placa"
              />
            </div>
          </div>
          <div class="row mb-4">
            <label for="formrow-firstname-input">Cantidad de Personas:</label>
            <div class="col-sm-12">
              <input
                type="text"
                class="form-control"
                id="horizontal-password-input"
                placeholder=""
                disabled
                formControlName="cantidadPersonas"
              />
            </div>
          </div>
          <div class="row mb-4">
            <label for="formrow-firstname-input">Direccion:</label>
            <div class="col-sm-12">
              <input
                type="text"
                class="form-control"
                id="horizontal-password-input"
                placeholder=""
                disabled
                formControlName="direccion"
              />
            </div>
          </div>
          <div class="row mb-4">
            <label for="formrow-firstname-input">Unidad Solicitante:</label>
            <div class="col-sm-12">
              <input
                type="text"
                class="form-control"
                id="horizontal-password-input"
                placeholder=""
                disabled
                formControlName="unidadSolicitante"
              />
            </div>
          </div>
          <div class="row mb-4">
            <label for="formrow-firstname-input"
              >Nombre de jefe departamento:</label
            >
            <div class="col-sm-12">
              <input
                type="text"
                class="form-control"
                id="horizontal-password-input"
                placeholder=""
                disabled
                formControlName="nombreJefeDepto"
              />
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" form="formSoliVale">
      Solcitar Asignación
    </button>
    <button
      type="button"
      class="btn btn-light"
      (click)="modal.close('Close click')"
    >
      Cancelar
    </button>

    <!--<button type="button" class="btn btn-primary">Save changes</button>-->
  </div>
</ng-template>

<!-- este modal me permite ver los vales que asignaré -->
<ng-template #valesAsignarModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">Vales a Asignar</h5>
    <button
      type="button"
      class="btn-close"
      (click)="modal.dismiss('Cross click')"
      aria-hidden="true"
    ></button>
  </div>
  <div class="modal-body">
    <div class="table-responsive mb-0">
      <table class="table table-centered table-nowrap">
        <thead class="table-light">
          <tr>
            <th class="align-middle text-center">Codigo Vale</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let vale of valesAsingar
                | filter : busqueda
                | paginate : { itemsPerPage: 10, currentPage: p };
              let i = index
            "
          >
            <td class="align-middle text-center h3">
              {{ vale.correlativoVale }}
            </td>
          </tr>
        </tbody>
      </table>
      <div class="pagination pagination-rounded justify-content-end mb-2">
        <pagination-controls
          previousLabel="Anterior"
          nextLabel="Siguiente"
          firstLabel="Primera"
          lastLabel="Última"
          itemsPerPageLabel="por página"
          (pageChange)="p = $event"
        ></pagination-controls>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-light"
      (click)="modal.close('Close click')"
    >
      Cerrar
    </button>

    <!--<button type="button" class="btn btn-primary">Save changes</button>-->
  </div>
</ng-template>
