<div class="table-responsive">
  <table class="table mb-0">
    <thead class="table-light">
      <tr>
        <th class="text-center">Vale</th>
        <th class="text-center">Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="text-center" scope="row">300500</th>
        <td class="text-center">
          <input type="checkbox" name="" id="" class="form-check-input" />
        </td>
      </tr>
      <tr>
        <th class="text-center" scope="row">300500</th>
        <td class="text-center">
          <input type="checkbox" name="" id="" class="form-check-input" />
        </td>
      </tr>
      <tr>
        <th class="text-center" scope="row">300500</th>
        <td class="text-center">
          <input type="checkbox" name="" id=" " class="form-check-input" />
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="d-flex justify-content-end mt-4">
  <button type="button" class="btn btn-primary me-2">
    Devolución
  </button>
  <button type="button" class="btn btn-primary">
    Documentos
  </button>
</div>
