
<!-- Modal -->

<div class="modal-header">
  <h4 class="modal-title">{{leyenda}} Solicitud de Vehículo</h4>
  <button type="button" class="btn-close" aria-hidden="true" (click)="activeModal.dismiss('Cross click')">
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="formularioSoliVe"
        (ngSubmit)="guardar()">
    <div class="row mb-4">
      <div class="col-md-5">
        <div class="row">

          <!--fecha de realizacion de solicitud-->
          <div class="col-md-6">
            <label for="fecha-solicitud">Fecha de solicitud</label>
            <input type="date" class="form-control" id="fecha-solicitud"
                   formControlName="fechaSolicitud"
                   readonly>
          </div>
          <!--fin fecha de realizacion de solicitud-->

          <!--fecha de salida de solicitud-->
          <div class="col-md-6">
            <label for="fecha-mision">Fecha de misión</label>
            <input type="date" class="form-control" id="fecha-mision"
                   formControlName="fechaSalida"
                   [readonly]="soliVeOd != null && leyenda === 'Detalle'">
          </div>
          <!--fin fecha de salida de solicitud-->
        </div>
        <div class="row">
          <div class="mt-2">
            <!--unidad que hace la solicitud-->
            <div class="form-group">
              <label for="unidad-solicitante">Unidad solicitante</label>
              <input type="text"
                     class="form-control"
                     id="unidad-solicitante"
                     formControlName="unidadSolicitante" readonly>
            </div>
            <!--fin unidad que hace la solicitud-->
          </div>
        </div>
        <div class="row">
          <!--Lugar o institucion a visitar-->
          <div class="mt-2">
            <label for="lugar-visitar">Lugar que visitará</label>
            <input type="text" class="form-control"
                   id="lugar-visitar"
                   placeholder="Ingrese el lugar o insitución que visitará"
                   formControlName="lugarMision"
                   [value]="soliVeOd != null ? soliVeOd.lugarMision: ''"
                   [readonly]="soliVeOd != null && leyenda === 'Detalle'">
          </div>
          <!--fin lugar o institucion a visitar-->
        </div>
        <div class="row">
          <ng-container [ngSwitch]="leyenda">
            <div *ngSwitchCase="'Detalle'" class="col-md-12">
              <!--direccon (solamente para mostrar en detalle de la solcitud)-->
              <div class="mt-2">
                <label for="lugar-visitar">Dirección</label>
                <textarea cols="30" rows="2"
                          class="form-control"
                          formControlName="direccion"
                          readonly></textarea>
              </div>
              <!--fin direccion-->
            </div>
            <div *ngSwitchCase="'Nueva'" class="col-md-6">
              <!--Departamento-->
              <div class="mt-2">
                <label for="detpto">Departamento</label>
                <ng-select
                  formControlName="depto"
                  placeholder="Escriba o seleccione"
                  [selectOnTab]="true"
                  labelForId="depto"
                  (ngModelChange)="deptoChange($event)"
                  [notFoundText]="'Datos no econtrados'"
                >
                  <ng-option *ngFor="let dpt of departamentos" [value]="dpt.codigo">
                    {{dpt.na2}}
                  </ng-option>
                </ng-select>
              </div>
              <!--fin departamento-->
            </div>
            <div *ngSwitchCase="'Nueva'" class="col-md-6">
              <!--municipio-->
              <div class="mt-2">
                <label for="municipio">Municipio</label>
                <ng-select
                  formControlName="municipio"
                  placeholder="Escriba o seleccione"
                  [selectOnTab]="true"
                  labelForId="municipio"
                  (ngModelChange)="distChange($event)"
                >
                  <ng-option *ngFor="let muni of municipios" [value]="muni.codigo">
                    {{muni.nam}}
                  </ng-option>
                </ng-select>
              </div>
              <!-- fin municipio -->
            </div>
            <div *ngSwitchDefault>
              <!-- Contenido predeterminado -->
            </div>
          </ng-container>
        </div>

        <div class="row">
            <!--canton-->
            <div class="col-md-6" *ngIf="leyenda == 'Nueva' && soliVeOd == null">
              <div class="mt-2">
                <label for="canton">Cantón</label>

                <ng-select
                  formControlName="canton"
                  placeholder="Escriba o seleccione"
                  [selectOnTab]="true"
                  labelForId="canton"
                >
                  <ng-option *ngFor="let cton of cantones" [value]="cton.codigo">
                    {{cton.nam}}
                  </ng-option>
                </ng-select>
              </div>
          </div>
          <!-- fin canton -->

          <!-- hora de salida -->
          <div class="col-md-6">
            <div class="mt-2">
              <label for="hora-salida">Hora de salida</label>
              <input type="time" id="hora-salida"
                     class="form-control" formControlName="horaSalida"
                     [readonly]="leyenda == 'Detalle' && soliVeOd != null">
            </div>
          </div>
          <!-- fin hora de salida -->
        </div>
      </div>
      <div class="col-md-3">
        <div class="row">
          <!-- fecha de regreso -->
          <div class="col-md-12">
            <label for="fecha-regreso">Fecha de regreso</label>
            <input type="date" class="form-control" id="fecha-regreso"
                   formControlName="fechaEntrada" [readOnly]="leyenda == 'Detalle' && soliVeOd != null">
          </div>
          <!-- fin fecha de regreso -->
        </div>
        <div class="row">
          <!-- tipo de vehiculo -->
          <div class="col-md-12">
            <div class="mt-2 ngselect-ve" >
              <label for="tipo-vehiculo">Tipo de vehículo</label>

              <ng-select *ngIf="leyenda == 'Nueva' && soliVeOd == null"
                formControlName="tipoVehiculo"
                placeholder="Escriba o seleccione"
                [selectOnTab]="true"
                labelForId="tipoVehiculo"
                (change)="cargarPlacas(formularioSoliVe.get('tipoVehiculo').value)"
              >
                <ng-option
                  *ngFor="let x of listVehiculos"
                  [value]="x.clase"
                >{{ x.clase }}</ng-option
                >
              </ng-select>
              <input *ngIf="leyenda == 'Detalle' && soliVeOd != null" type="text" class="form-control"
                     id="tipo-vehiculo"
                     formControlName="tipoVehiculo"
                     [value]="soliVeOd != null ? soliVeOd.vehiculo.clase: ''"
                     readonly>
            </div>
          </div>
          <!-- fin tipo de vehiculo -->
        </div>
        <div class="row">
          <!-- placa -->
          <div class="col-md-12">
            <div class="mt-2">
              <label for="vehiculo">Placa</label>

              <ng-template #selectTemplate>
                <ng-select *ngIf="leyenda == 'Nueva' && soliVeOd == null"
                           formControlName="vehiculo"
                           placeholder="Escriba o seleccione"
                           [selectOnTab]="true"
                           labelForId="vehiculo"
                >
                  <ng-option *ngFor="let vehiculo of placas"
                             [value]="vehiculo.codigoVehiculo">{{vehiculo.placa}}</ng-option>
                </ng-select>
              </ng-template>

              <!-- fin placa -->

              <ng-template #inputTemplate>
                <!-- input placa para detalle -->
                <input *ngIf="leyenda == 'Detalle' && soliVeOd != null" type="text" class="form-control"
                       id="vehiculo"
                       formControlName="vehiculo"
                       [value]="soliVeOd != null ? soliVeOd.vehiculo.placa: ''"
                       readonly>
              </ng-template>

              <!-- fin input placa -->

              <div [ngTemplateOutlet]="leyenda == 'Nueva' ? selectTemplate : inputTemplate"></div>


            </div>
          </div>
        </div>
        <div class="row" *ngIf="leyenda == 'Nueva' && soliVeOd == null">
          <!-- distrito -->
          <div class="col-md-12">
            <div class="mt-2">
              <label for="distrito">Distrito</label>
              <ng-select
                formControlName="distrito"
                placeholder="Escriba o seleccione"
                [selectOnTab]="true"
                labelForId="distrito"
                (ngModelChange)="muniChange($event)"
              >
                <ng-option *ngFor="let dist of distritos" [value]="dist.codigo">
                  {{dist.nam}}
                </ng-option>
              </ng-select>
            </div>
          </div>
          <!-- fin distrito -->
        </div>
        <div class="row">
          <!-- hora de regreso -->
          <div class="col-md-12">
            <div class="mt-2">
              <label for="hora-regreso">Hora de regreso</label>
              <input type="time" id="hora-regreso"
                     class="form-control" formControlName="horaEntrada"
                     [readOnly]="leyenda == 'Detalle' && soliVeOd != null">
            </div>
          </div>
          <!-- fin hora de regreso -->
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <!-- objetivo de la mision -->
          <div class="col-md-12">
            <label for="objetivo-mision">Objetivo de la misión</label>
            <textarea id="objetivo-mision"
                      cols="30"
                      rows="3"
                      class="form-control"
                      placeholder="Ingrese el objetivo de la misión"
                      formControlName="objetivoMision"
                      [readonly]="leyenda == 'Detalle' && soliVeOd != null"></textarea>
          </div>
          <!-- fin objetivo de la mision -->
        </div>
        <div class="row">
          <div class="mt-2">
            <!-- cantidad de personas que viajaran -->
            <label for="cantidad-pasajeros">No. de personas que viajarán</label>
            <div class="col-md-3">

              <input type="number" id="cantidad-pasajeros"
                     [value]="formularioSoliVe.get('cantidadPersonas').value"
                     class="form-control"
                     formControlName="cantidadPersonas" min="1"
                     [readonly]="leyenda == 'Detalle' && soliVeOd != null"
                     (change)="actualizarFilas()" (input)="actualizarFilas()">
            </div>
            <!-- fin cantidad de personas que viajaran -->
          </div>
        </div>
        <!-- input solicitante (para el detalle) -->
        <div class="row" *ngIf="leyenda == 'Detalle' && soliVeOd != null">
            <div class="col-md-12">
              <div class="mt-2">
                <label for="lugar-visitar">Responsable</label>
                <input type="text"
                          class="form-control"
                          formControlName="solicitante"
                          readonly>
              </div>
            </div>
        </div>
        <!-- fin solicitante -->

        <!-- tabla de personas -->
        <div class="row" *ngIf="cantidadPersonas >= 2 || leyenda=='Detalle' && soliVeOd != null && soliVeOd.cantidadPersonas >= 2">
          <div class="mt-2">
            <div *ngIf="mostrarTabla; else archivoAdjunto">
              <label for="tablaPasajeros">Ingrese los nombres de los pasajeros</label>
              <table class="table excel-table table-responsive" id="tablaPasajeros">
                <thead>
                <tr>
                  <th>No</th>
                  <th>Nombre</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let pasajero of pasajeros; let i = index">
                  <td>{{ i + 1}}</td>
                  <td>
                    <input type="text" style="width: 100%"
                           [formControl]="pasajeroFormControls[i]"
                           [readonly]="soliVeOd != null && leyenda === 'Detalle'">
                  </td>
                </tr>
                </tbody>
              </table>
            </div>

            <ng-template #archivoAdjunto>
              <div *ngIf="mostrarArchivoAdjunto" class="alert alert-warning">
                Por favor, adjunta la lista de pasajeros:
                <input type="file" (change)="cambioDeArchivo($event)" />
              </div>
            </ng-template>

          </div>
        </div>
        <!-- fin de personas -->

      </div>
    </div>
    <div class="d-flex justify-content-end mt-4">
      <button type="submit" class="btn btn-primary me-2" id="btn-save" name="btn-save"
              *ngIf="leyenda == 'Nueva'">
        Enviar
      </button>
      <button type="button" class="btn btn-dark" id="btn-cancel" name="btn-cancel"
              aria-hidden="true" (click)="activeModal.close('Close click')">Cancelar</button>
    </div>
  </form>
</div>
<!-- Modal -->
