<span *ngIf="leyenda !== 'Entrada'" >
    <div class="text-sm-end">
        <button type="button" class="btn btn-salida btn-separado"  (click)="openModal(content)">{{titulo}}</button>
    </div>
</span>
<span *ngIf="leyenda !== 'Salida'" >
    <div class="text-sm-end">
        <button type="button" class="btn btn-entrada"  (click)="openModal(content)">{{titulo}}</button>
    </div>
</span>
<span *ngIf="leyenda === titulo && titulo == 'Editar'">
    <button type="button" class="btn btn-info btn-sm btn-rounded boton-cuadrado mx-1" (click)="openModal(content)"><i
            class="mdi mdi-account-edit-outline"></i></button>
</span>

<!-- Modal -->

<div class="modal modal-fullscreen-xl-down fade" id="modalEmpleado" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <ng-template #content role="document" let-modal>
        <div class="modal-header">
            <h5 class="modal-title mt-0">Registro de {{leyendas}} </h5>
            <div class="btn-alerta" *ngIf="alerts">
                <i class="mdi mdi-20px mdi-lightbulb-on-outline custom-cursor" ngbTooltip="Mostrar Ayuda"
                    *ngIf="!siMuestraAlertas()" (click)="restaurarAlerts()"></i>
                    <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
            </div>
            
        </div>
        <div class="modal-body">
            <div *ngFor="let alert of alerts">
                <div class="alert alert-{{ alert.type }} alert-dismissible fade show" role="alert" *ngIf="alert.show">
                    <strong>Importante!</strong>
                    <div class="text-justify">{{ alert.message }}</div>
                    <button type="button" class="btn-close" (click)="CambiarAlert(alert)" aria-label="Close"></button>
                </div>
            </div>
            <form (ngSubmit)="guardar()" [formGroup]="formBuilder" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label>Misión</label><span class="text-danger"> *</span>
                            <select class="form-control" id="Selectsolicitudvehiculo" name="Selectsolicitudvehiculo"
                            formControlName="solicitudvehiculo" [class]="esCampoValido('solicitudvehiculo')" autocomplete="off" disabled="" [ngModel]="objetivoMision.codigoSolicitudVehiculo">
                            <option [value]="objetivoMision.codigoSolicitudVehiculo" selected>{{objetivoMision.objetivoMision}}</option>
                            </select>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                              <label>Fecha</label><span class="text-danger"> *</span>
                              <input type="date" class="form-control" id="fecha" name="fecha"
                                formControlName="fecha"  [class]="esCampoValido('fecha')" [(ngModel)]="fechaActual" disabled/>
                                <div class="invalid-feedback">
                                  <!-- aqui la validación-->
                                  <span *ngIf="formBuilder.get('fecha')?.errors?.['required']">Requiere un fecha</span>
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label>Hora</label><span class="text-danger"> *</span>
                                <input type="time" class="form-control" id="hora" name="hora"
                                  formControlName="hora" autocomplete="off" [class]="esCampoValido('hora')" [(ngModel)]="horaActual" disabled/>
                                <div class="invalid-feedback">
                                    <!-- aqui la validación-->
                                    <span *ngIf="formBuilder.get('hora')?.errors?.['required']">Requiere una hora</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3">
                              <label>Kilometraje</label><span class="text-danger"> *</span>
                              <input type="text" class="form-control" id="kilometraje" name="kilometraje" 
                                formControlName="kilometraje" autocomplete="off" [class]="esCampoValido('kilometraje')" pattern="" (keypress)="OnlyNumbersAllowed($event)" placeholder="Escribe el kilometraje"/>
                                <div class="invalid-feedback">
                                  <!-- aqui la validación-->
                                  <span *ngIf="formBuilder.get('kilometraje')?.errors?.['required']">Requiere datos en el campo</span>
                                  
                                </div>
                            </div>
                        </div>
            
                        <div class="col-md-12">
                            <div class="mb-3">
                              <label>Combustible</label><span class="text-danger"> *</span>
                              <select class="form-control form-select" id="combustible" name="combustible" [ngModel]="entradasalidaOd!=null ? entradasalidaOd.combustible : ''"
                                formControlName="combustible" autocomplete="off" [class]="esCampoValido('combustible')" placeholder="Escribe el tipo de combustible">
                                <option value="">Seleccione la opción correspondiente</option>
                                <option value="Un tanque">Un tanque</option>
                                <option value="Mas de tres cuarto de tanque">Mas de tres cuarto de tanque</option>
                                <option value="Tres cuarto de tanque">Tres cuarto de tanque</option>
                                <option value="Menos de tres cuarto de tanque">Menos de tres cuarto de tanque</option>
                                <option value="Mas de medio tanque">Mas de medio tanque</option>
                                <option value="Medio tanque">Medio tanque</option>
                                <option value="Menos de medio tanque">Menos de medio tanque</option>
                                <option value="Mas de un cuarto de tanque">Mas de un cuarto de tanque</option>
                                <option value="Un cuarto de tanque">Un cuarto de tanque</option>
                                <option value="Menos de un cuarto de tanque">Menos de un cuarto de tanque</option>
                                
                            </select>
                                <div class="invalid-feedback">
                                  <!-- aqui la validación-->
                                  <span *ngIf="formBuilder.get('combustible')?.errors?.['required']">Requiere datos en el campo</span>
                                </div>
                            </div>
                            
                        </div>
                    </div>  
                </div>
                <div class="d-flex justify-content-end mt-4">
                    <button type="submit" class="btn btn-primary me-2" id="btn-save" name="btn-save">
                     {{ titulo !== 'Editar' ? 'Guardar' : 'Modificar' }}
                    </button>

                    <button type="button" class="btn btn-dark" id="btn-cancel" name="btn-cancel" aria-hidden="true"
                        (click)="modal.dismiss('Cross click')">
                        Cancelar
                    </button>
                </div>

            </form>
        </div>
    </ng-template>
</div>
<!-- Modal -->
<script>
    // Deshabilitar el cursor en el campo de entrada
    const readonlyInput = document.getElementById("readonlyInput");

    readonlyInput.addEventListener("mousedown", (event) => {
        event.preventDefault();
    });

    readonlyInput.addEventListener("keydown", (event) => {
        event.preventDefault();
    });
</script>