  /* Estilo para el botón "Entrada" */
  .btn-entrada {
    background-color: #df3636; /* Color de fondo azul */
    color: #ffffff; /* Color de texto blanco */
  }
  
  /* Estilo para el botón "Salida" */
  .btn-salida {
    background-color: #3c4cdaad; /* Color de fondo rojo */
    color: #ffffff; /* Color de texto blanco */
  }