<div class="container-fluid">
    <app-page-title title="ENTRADAS Y SALIDAS DE VEHICULOS" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="row mb-2">
              <div class="col-sm-4">
                <div class="search-box me-2 mb-2 d-inline-block">
                  <div class="position-relative">
                    <input type="text" class="form-control" placeholder="Buscar..." 
                    [(ngModel)]="parametroBuscar" 
                    (keyup.enter)="buscar()">
                    <i class="bx bx-search-alt search-icon"></i>
                  </div>
                </div>
              </div>
              <div class="col-sm-8">
                  <!---<app-modal [leyenda]="'Nuevo'" [titulo]="'Agregar'" [leyendas]="'entrada'" ></app-modal>--->
              </div><!-- end col-->
            </div>
            <div class="row row-cols-1 row-cols-md-3 row-cols-xl-5 justify-content-center">
              <ng-container *ngFor="let obj of vehiculos">
                <app-card [obj]="obj" ></app-card>
              </ng-container>

            </div>
            <!-- Table data -->
           
          </div>
        </div>
      </div>
    </div>
  </div>
