<app-loader></app-loader>
<div class="container-fluid">
  <app-page-title
    title="Movimientos de vales"
    [breadcrumbItems]="breadCrumbItems"
  ></app-page-title>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row mb-2">
            <div class="col-sm-4">
              <div class="search-box me-2 mb-2 d-inline-block">
                <div class="position-relative">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Buscar"
                    [(ngModel)]="term"
                  />
                  <i class="bx bx-search-alt search-icon"></i>
                </div>
              </div>
            </div>
            <div class="col-sm-3"></div>

            <div class="col-sm-5">
              <div class="text-sm-end"></div>
            </div>
            <!-- end col-->
          </div>

          <!-- Table data -->
          <div class="table-responsive mb-0">
            <table class="table table-centered table-nowrap">
              <thead class="table-light">
                <tr>
                  <th class="align-middle">Factura</th>
                  <th class="align-middle">Proveedor</th>
                  <th class="align-middle">Fecha de compra</th>
                  <th class="align-middle">Cantidad</th>
                  <th class="align-middle">Prec. Unit.</th>
                  <th class="align-middle">Total</th>
                  <th class="align-middle text-center">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="veri">
                  <td *ngIf="veri" colspan="8" style="text-align: center">
                    No hay datos disponibles.
                  </td>
                </tr>
                <tr
                  *ngFor="
                    let data of compras
                      | filter : term
                      | paginate : { itemsPerPage: 8, currentPage: p };
                    let i = index
                  "
                >
                  <ng-container
                    *ngIf="
                      data.factura == null || data.factura == '';
                      else factura
                    "
                  >
                    <td>
                      <a class="text-body fw-bold"> N/A </a>
                    </td>
                  </ng-container>
                  <ng-template #factura>
                    <td>
                      <a class="text-body fw-bold">
                        {{ data.factura }}
                      </a>
                    </td>
                  </ng-template>
                  <td>{{ data.proveedor.nombre }}</td>
                  <td>{{ data.fechaCompra | date : "dd/MM/yyyy h:mm a" }}</td>
                  <td>{{ data.cantidad }}</td>
                  <td>
                    {{
                      data.precioUnitario
                        | currency : "USD" : "symbol" : "1.2-2"
                    }}
                  </td>
                  <td>
                    {{
                      data.totalCompra | currency : "USD" : "symbol" : "1.2-2"
                    }}
                  </td>
                  <td style="text-align: center">
                    <button
                      type="button"
                      (click)="cargarValesD(data, content)"
                      class="btn btn-info btn-sm btn-rounded boton-cuadrado mx-1"
                      ngbTooltip="Movimientos de vales"
                    >
                      <i
                        class="mdi mdi-file-document-outline"
                        ngbTooltip="Solicitud de tranporte"
                      ></i>
                    </button>
                  </td>
                </tr>
                <!--</ng-container>-->
                <ng-template>
                  <tr>
                    <td colspan="8" style="text-align: center">
                      No hay datos disponibles.
                    </td>
                  </tr>
                </ng-template>
              </tbody>
            </table>

            <div class="pagination pagination-rounded justify-content-end mb-2">
              <pagination-controls
                (pageChange)="p = $event"
                [nextLabel]="''"
                [previousLabel]="''"
              ></pagination-controls>
            </div>
          </div>

          <!-- end table -->
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">
      Movimientos de Vales
      {{
        compra.factura == "" || compra.factura == null
          ? "Sin Factura"
          : compra.factura
      }}
    </h5>
    <button
      type="button"
      class="btn-close"
      aria-hidden="true"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <div class="card text-center">
      <div class="card-header">
        Código inicio {{ compra.codInicio }} | Código fin {{ compra.codFin }}
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ compra.proveedor.nombre }}</h5>
        <p class="card-text">
          {{ compra.descripcion }}
        </p>
        <div class="search-box d-inline-block">
          <div class="position-relative">
            <input
              type="text"
              class="form-control"
              placeholder="Buscar Vale..."
              [(ngModel)]="queryVale"
            />
            <i class="bx bx-search-alt search-icon"></i>
          </div>
        </div>
      </div>
      <div class="card-footer text-muted">
        Fecha de vencimiento {{ compra.fechaVencimiento | date : "dd/MM/yyyy" }}
      </div>
    </div>
    <div class="row">
      <div
        class="col-sm-3"
        *ngFor="let data of listVale | filter : queryVale; let i = index"
      >
        <div class="card">
          <div class="card-header">
            {{ data.correlativo }}
          </div>
          <div class="card-body">
            <h5>
              <span [ngClass]="getClassOf(data.estado)">
                {{ estadoNombre(data.estado) }}</span
              >
              <button
                type="button"
                class="btn btn-primary btn-sm btn-rounded boton-cuadrado mx-1"
                (click)="generarPDFLogVale(data, compra, data.estado)"
                ngbTooltip="Ver movimientos"
              >
                <i class="mdi mdi-file-document-outline"></i>
              </button>
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer custom-modal">
    <button class="btn btn-dark w-sm" (click)="modal.close('Close click')">
      Cerrar
    </button>
  </div>
</ng-template>
