<button
  type="button"
  class="btn btn-rounded"
  [ngClass]="getClassOf()"
  (click)="openModal(content, proveedor)"
  [innerHTML]="getIconsOf()"
>
  {{ leyenda }}
</button>

<ng-template #content role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">Proveedor</h5>

    <div class="btn-alerta" *ngIf="alerts">
      <i
        class="mdi mdi-18px mdi-lightbulb-on-outline custom-cursor"
        ngbTooltip="Mostrar Ayuda"
        *ngIf="!siMuestraAlertas()"
        (click)="restaurarAlerts()"
      ></i>
    </div>
    <button
      type="button"
      class="btn-close"
      aria-hidden="true"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <div *ngIf="leyenda != 'Editar'">
      <div *ngFor="let alert of alerts">
        <div
          class="alert alert-{{ alert.type }} alert-dismissible fade show"
          role="alert"
          *ngIf="alert.show"
        >
          <strong>Importante!</strong>
          {{ alert.message }}
          <button
            type="button"
            class="btn-close"
            (click)="CambiarAlert(alert)"
            aria-label="Close"
          ></button>
        </div>
      </div>
    </div>

    <form
      id="formProveedor"
      name="formProveedor"
      (ngSubmit)="guardar()"
      [formGroup]="formularioGeneral"
    >
      <div class="row">
        <div *ngIf="proveedor?.id">
          <input
            id="id"
            name="id"
            type="hidden"
            readonly="true"
            class="form-control"
            formControlName="id"
          />
        </div>
        <div class="mb-4 mx-auto text-center">
          <input
            type="radio"
            class="btn-check"
            name="tipo"
            id="tipo1"
            autocomplete="off"
            formControlName="tipo"
            [class]="esCampoValido('tipo')"
            [value]="13"
            checked
          />
          <label
            class="btn btn-outline-dark myconfig2"
            style="width: 100px"
            for="tipo1"
            >Gasolinera</label
          >
          <input
            type="radio"
            class="btn-check"
            name="tipo"
            id="tipo2"
            autocomplete="off"
            formControlName="tipo"
            [class]="esCampoValido('tipo')"
            [value]="14"
          />
          <label
            class="btn btn-outline-primary myconfig1"
            for="tipo2"
            style="width: 100px"
            >UES</label
          >
          <div class="invalid-feedback">
            <!-- aqui la validación-->
            <span *ngIf="formularioGeneral.get('tipo')?.errors?.['required']"
              >Requiere un tipo de proveedor</span
            >
          </div>
        </div>
        <div class="mb-4 col-md-6">
          <label for="nombre">Nombre:*</label>
          <input
            id="nombre"
            name="nombre"
            maxlength="200"
            minlength="2"
            type="text"
            class="form-control"
            placeholder="Nombre"
            formControlName="nombre"
            [class]="esCampoValido('nombre')"
          />
          <div class="invalid-feedback">
            <span *ngIf="formularioGeneral.get('nombre').hasError('required')">
              Requiere un nombre
            </span>
            <span *ngIf="formularioGeneral.get('nombre').hasError('minlength')">
              Digite más de 2 caracteres
            </span>

            <span *ngIf="formularioGeneral.get('nombre').hasError('maxlength')">
              Limite 200 caracteres
            </span>
          </div>
        </div>
        <div class="mb-4 col-md-6">
          <label for="encargado">Persona encargada:</label>
          <input
            id="encargado"
            name="encargado"
            maxlength="200"
            minlength="2"
            type="text"
            class="form-control"
            placeholder="Encargado"
            formControlName="encargado"
          />
          <div class="invalid-feedback">
            <span
              *ngIf="formularioGeneral.get('encargado').hasError('maxlength')"
            >
              Limite 200 caracteres
            </span>
          </div>
        </div>
        <div class="mb-4 col-md-6">
          <label for="telefono">Teléfono:*</label>
          <input
            id="telefono"
            name="telefono"
            maxlength="15"
            type="text"
            class="form-control"
            placeholder="Telefono"
            formControlName="telefono"
            mask="0000-0000"
            [class]="esCampoValido('telefono')"
          />
          <div class="invalid-feedback">
            <span
              *ngIf="formularioGeneral.get('telefono').hasError('required')"
            >
              Requiere un teléfono
            </span>
            <span *ngIf="formularioGeneral.get('telefono').hasError('mask')"
              >Teléfono no válido
            </span>
          </div>
        </div>
        <div class="mb-4 col-md-6">
          <label for="email">Email:*</label>
          <input
            id="email"
            name="email"
            maxlength="100"
            type="text"
            class="form-control"
            placeholder="Email"
            formControlName="email"
            [class]="esCampoValido('email')"
          />
          <div class="invalid-feedback">
            <span *ngIf="formularioGeneral.get('email').hasError('required')">
              Requiere un email
            </span>
            <span *ngIf="formularioGeneral.get('email').hasError('minlength')">
              Digite más de 2 caracteres
            </span>

            <span *ngIf="formularioGeneral.get('email').hasError('maxlength')">
              Limite 100 caracteres
            </span>
            <span *ngIf="formularioGeneral.get('email').hasError('pattern')"
              >Email no valido
            </span>
          </div>
        </div>
        <div class="mb-4 col-md-12">
          <label for="direccion">Dirección:*</label>
          <textarea
            row="3"
            maxlength="750"
            class="form-control"
            placeholder="Dirección"
            formControlName="direccion"
            [class]="esCampoValido('direccion')"
          ></textarea>
          <div class="invalid-feedback">
            <span
              *ngIf="formularioGeneral.get('direccion').hasError('required')"
            >
              Requiere una dirección
            </span>
            <span
              *ngIf="formularioGeneral.get('direccion').hasError('minlength')"
            >
              Digite más de 2 caracteres
            </span>

            <span
              *ngIf="formularioGeneral.get('direccion').hasError('maxlength')"
            >
              Limite 750 caracteres
            </span>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="submit" form="formProveedor">
      Guardar
    </button>
    <button class="btn btn-dark" (click)="modal.close('Close click')">
      Cerrar
    </button>
  </div>
</ng-template>
