<button
  type="button"
  class="btn btn-rounded"
  [ngClass]="getClassOf()"
  (click)="openModal(content, proveedor)"
  [innerHTML]="getIconsOf()"
>
  {{ leyenda }}
</button>

<ng-template #content role="document" let-modal>
  <div class="modal-header custom-header">
    <h5 class="modal-title mt-0">Proveedor</h5>
    <button
      type="button"
      class="btn-close"
      aria-hidden="true"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form
      id="formProveedor"
      name="formProveedor"
      (ngSubmit)="guardar()"
      [formGroup]="formularioGeneral"
    >
      <div class="row">
        <div *ngIf="proveedor?.id">
          <input
            id="id"
            name="id"
            type="hidden"
            readonly="true"
            class="form-control"
            formControlName="id"
          />
        </div>
        <div class="mb-4 col-md-12">
          <label for="nombre">Nombre:</label>
          <input
            id="nombre"
            name="nombre"
            maxlength="200"
            minlength="2"
            type="text"
            class="form-control"
            placeholder="Nombre"
            formControlName="nombre"
            [class]="esCampoValido('nombre')"
          />
          <div class="invalid-feedback">
            <span *ngIf="formularioGeneral.get('nombre').hasError('required')">
              Requiere un nombre
            </span>
            <span *ngIf="formularioGeneral.get('nombre').hasError('minlength')">
              Digite más de 2 caracteres
            </span>

            <span *ngIf="formularioGeneral.get('nombre').hasError('maxlength')">
              Limite 200 caracteres
            </span>
          </div>
        </div>
        <div class="mb-4 col-md-12">
          <label for="telefono">Teléfono:</label>
          <input
            id="telefono"
            name="telefono"
            maxlength="15"
            type="text"
            class="form-control"
            placeholder="Telefono"
            formControlName="telefono"
            mask="0000-0000"
            [class]="esCampoValido('telefono')"
          />
          <div class="invalid-feedback">
            <span
              *ngIf="formularioGeneral.get('telefono').hasError('required')"
            >
              Requiere un teléfono
            </span>
            <span *ngIf="formularioGeneral.get('telefono').hasError('mask')"
              >Teléfono no válido
            </span>
          </div>
        </div>
        <div class="mb-4 col-md-12">
          <label for="direccion">Dirección:</label>
          <input
            id="direccion"
            name="direccion"
            maxlength="750"
            type="text"
            class="form-control"
            placeholder="Dirección"
            formControlName="direccion"
            [class]="esCampoValido('direccion')"
          />
          <div class="invalid-feedback">
            <span
              *ngIf="formularioGeneral.get('direccion').hasError('required')"
            >
              Requiere una dirección
            </span>
            <span
              *ngIf="formularioGeneral.get('direccion').hasError('minlength')"
            >
              Digite más de 2 caracteres
            </span>

            <span
              *ngIf="formularioGeneral.get('direccion').hasError('maxlength')"
            >
              Limite 750 caracteres
            </span>
          </div>
        </div>
        <div class="mb-4 col-md-12">
          <label for="email">Email:</label>
          <input
            id="email"
            name="email"
            maxlength="100"
            type="text"
            class="form-control"
            placeholder="Email"
            formControlName="email"
            [class]="esCampoValido('email')"
          />
          <div class="invalid-feedback">
            <span *ngIf="formularioGeneral.get('email').hasError('required')">
              Requiere un email
            </span>
            <span *ngIf="formularioGeneral.get('email').hasError('minlength')">
              Digite más de 2 caracteres
            </span>

            <span *ngIf="formularioGeneral.get('email').hasError('maxlength')">
              Limite 100 caracteres
            </span>
            <span *ngIf="formularioGeneral.get('email').hasError('pattern')"
              >Email no valido
            </span>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer custom-modal">
    <button class="btn btn-primary" type="submit" form="formProveedor">
      Guardar
    </button>
    <button class="btn btn-dark" (click)="modal.close('Close click')">
      Cerrar
    </button>
  </div>
</ng-template>
